.question-container {
  width: 75%;
  display: flex;
  margin: 1rem 0;
  .question-card {
    width: 80%;
    .file-upload-input {
      display: none;
    }
    .question-ctrls-container {
      display: flex;
      align-items: center;
    }
    .MuiBadge-root {
      .MuiBadge-badge {
        color: #ffffff;
      }
    }
  }
}
