.class-work-module {
  padding: 3% 4%;
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .date-picker-container {
    margin: 3% 1% 9% 0%;
  }

  .outer-box {
    background: sandybrown;
    width: 158px;
    height: 39px;
    border-radius: 5px;
    position: relative;
  }
  .inner-box {
    background: darkgray;
    width: 131px;
    height: 60px;
    position: absolute;
    top: -53%;
    z-index: 5;
    left: 9%;
  }
  .inner-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 20px solid gray;
    border-right: 20px solid #fafafa;
    width: 0;
  }
  .lower-box {
    cursor: pointer;
    background: #faca66;
    width: 158px;
    height: 83px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    color: #014b7e;
  }
  .folder-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
