.downloadAllContainer {
  display: flex;
}

.downloadAllIcon {
  margin: 5px;
}


.totalPeriod {
  font-size: 1rem;
  font-weight: 500;
}

.headerTitle_circular {
  font-size: 1.1rem;
  margin-bottom: 7px;
  margin-left: 14px;
}

