.downloadAllContainer {
  display: flex;
}

.downloadAllIcon {
  margin: 5px;
}

.resourceBulkDownload {
  font-size: 1.1rem;
  color: #ff6b6b;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 10px 15px;
}

.totalPeriod {
  font-size: 1rem;
  font-weight: 500;
}

.headerTitle_circular {
  font-size: 1.1rem;
  margin-bottom: 7px;
  margin-left: 14px;
}

