.paginate {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom:50px;
  padding:15px;
  background-color: #F3E8E8;
}

.mainWidth.widthClass {
  width: 300px;
  transition: width 0.4s;
}
.mainWidth {
  width: 250px;
}
.headerMaster {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}
.gradeDropClass {
  width: 200px;
}


.custom_button{
  color:white !important;
  outline: none !important;
}
.custom_button:hover{
	transform: translateY(-2px);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
}