* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.userName {
    margin-bottom   : 0px;
    font-weight : 'bold';
    /* font-size: 16px; */
}

.commentTime {
    color : #888
}

.answerToQuestion p{
    font-size: 18px;
    font-weight: 700;
}

.likeCommentSec {
    width : 300px;
    margin-top: 10px;
}

.counts {
    padding-left: 10px;
    margin-top: 2px;
    position: absolute;
}

.titleNameReply {
    margin: 3px  0px 0px 25px;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
 }

 .topInfoReply {
    position: relative;
    margin-bottom: 1px;
    
}

.colorBoxReply {
    width: 10px;
    height: 50%;
    position: absolute;
    top: 0; 
    left: 0;
}

.likeIcon , .dislikeIcon , .messageIcon {
    cursor: pointer;
}

.repTOQuest {
   font-weight: bold; 
}

.subComments {
    padding-left : 35px
}