.user__session__conatiner{
    display: flex;
    justify-content: space-between;
}

.user__session__results__container{
    min-height: 100%;
    background-image: linear-gradient(to bottom right,rgba(126,213,111,0.8), rgba(40,180,133,0.8));
    width: 30%;
    position: relative;
}

.user__session__chip{
    background-color: #17B325 !important; 
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    width: 80px;
    color: white !important;
}

.user__session__rank__container{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255,255,255,0.2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.your__score{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.user__session__score{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.analysis__container{
    padding: 20px;
    width: 80%;
    margin-top: 0px;
}

@media only screen and (max-width: 500px) {
    .analysis__container{
        padding: 20px;
        width: 100%;
        margin-top: 0px;
    }
  }

.anaysis__container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 5px 0px;
}

.user__session__rank{
    color: white;
    margin-top: 25px !important;
    margin-left: 22px !important;
}