.Greviences-container {
  .makeStyles-reply_button-47 {
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}
.griviences-breadcrums-container {
  width: 95%;
  margin: 20px auto;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create-report-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
  background: white;
  position: fixed;
  bottom: 4px;
  width: 100%;

  .create-report-button {
    width: 37%;
    padding-top: 78px;
    border-radius: 10px;
    background: #ff6b6b;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}
// .filterIcon {
//   top: 130px;
//   left: 1670px;
//   width: 17px;
//   height: 17px;
//   background: transparent 0% 0% no-repeat padding-box;
//   opacity: 1;
// }
