.MuiDataGrid-root{
	color: #014B7E !important;
}
.MuiDataGrid-colCellTitle{
	font-weight: 600 !important;
}
.MuiDataGrid-iconSeparator {
	color: #FF6B6B !important;
}
.MuiDataGrid-cell{
	text-align: center;
}
.MuiDataGrid-colCell{
	text-align: center;
}
.MuiDataGrid-colCell-draggable{
	justify-content: center !important;
}