.page_title{
	color: #014B7E;
    font-size: 1.2rem;
	font-weight: 600;
}
.page_heading_arrow{
	color: #FF6B6B;
    width: 20px !important;
	vertical-align: bottom;
	margin: 0px 10px;
}
@media screen and (max-width: 700px) {
	.page_heading_arrow {
		color: #FF6B6B;
		width: 10px !important;
		vertical-align: middle;
	}
	.page_title{
		font-size: 0.9rem;
	}
}