.reshuffle-header.MuiDialogTitle-root {
    flex: 0 0 auto;
    margin: 0;
    padding: 16px 24px;
    background: #ff6b6b;
}
.helperText.MuiFormHelperText-root {
    color: red;
}
.reshuffleDataUnavailable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-left: 85%;
    margin-top: 21%;
  }
