@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
body {
  font-family: 'Andika New Basic', sans-serif;
}
.testInfo {
  background-color: '#fff';
}
.closeContainer {
  position: relative;
}
.spanClose {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 20px;
  height: 21px;
  opacity: 0.3;
  cursor: pointer;
}
.spanClose:hover {
  opacity: 1;
}
.spanClose:before,
.spanClose:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.spanClose:before {
  transform: rotate(45deg);
}
.spanClose:after {
  transform: rotate(-45deg);
}
