.dashboard-stat {
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
}

.dashboard-table {
  .ant-table.ant-table-small .ant-table-title,
  .ant-table.ant-table-small .ant-table-footer,
  .ant-table.ant-table-small .ant-table-thead > tr > th,
  .ant-table.ant-table-small .ant-table-tbody > tr > td,
  .ant-table.ant-table-small tfoot > tr > th,
  .ant-table.ant-table-small tfoot > tr > td {
    padding: 3px 8px;
  }

  .ant-table-cell-scrollbar:not([rowspan]) {
    box-shadow: none;
  }
}

.dashboard-table-collapse {
  overflow: hidden;
  height: 140px;
  transition: height 0.3s ease-in-out;
  transition-behavior: smooth;
}

.dashboard-content-collapsed {
  height: 0;
  padding: 0;
}
