.card-wrapper{
    margin-bottom: 20px;  
  }
  
  .card-text{
    margin-bottom: 15px !important;
  }
  
  .remark-container{
    position: relative;
    padding: 30px;
    max-height: 450px !important;
    overflow: auto;
  }
  