.downloadAllContainer {
  display: flex;
}
.downloadAllIcon {
  margin: 5px;
}

.resourceBulkDownload {
  font-size: 1.1rem;
  color: #ff6b6b;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 10px 15px;
}

.totalPeriod {
  font-size: 1rem;
  font-weight: 500;
}

.courseCardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.MuiButton-root.courseButton:first-child {
  margin-right: 10%;
}

.courseButton.MuiButton-root {
  width: 45%;
  margin: 1% auto;
}

.editDetailsButton.MuiButton-root {
  width: 100%;
}
