.triangle {
    border-left: 30px solid red;
    border-right: 30px solid green;
    border-bottom: 30px solid green;
    border-top: 30px solid red;
    display: inline-block;
    
}
// .text{
//     text-align: center !important;
// }
