.hideShowFilterText {
  color: #014b7e;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 600;
  align-self: center;
}



.divfilterData:not(:last-of-type):after {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #014b7e;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  vertical-align: baseline;
}

.showFiltersCreate {
  display: block;
}

.hideFiltersCreate {
  display: none;
}
