.assessment_heading {
  color: #000;
}
.indexarea{
  display: flex;
  width: 10%;
    justify-content: space-between;
    margin-left: 2%;
}
.onlinetotal{
  display: flex;
  padding: 5px;
}
.onbox{
  width: 20px;
    height: 20px;
    color: white;
    background: white;
    margin-right: 10px;
}
.offlinetotal{
  display: flex;
  padding: 5px;
}
.offbox{
  width: 20px;
    height: 20px;
    color: white;
    background: #eaeaea;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
}
