.studentHome{

.ant-tabs-tab{
  border: 1px solid #d5d5d5;
  margin: 0px !important;
  height: 70px;
  max-width: 210px;
  width: 210px;
}
.ant-tabs-tab-btn{
  width: 100%;
}
.ant-tabs-tab-active{
  .countC{
    display: none;
  }
}
}