/* .homework_table_wrapper .message_log_table tr th:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  }
  .homework_table_wrapper .message_log_table tr td:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  } */
.homework_table_wrapper {
  border: 1px solid #ff6b6b;
  box-shadow: none;
}
.homework_table_wrapper .MuiTableCell-root:not(:last-child) {
  border-right: 1px solid #ff6b6b;
}
.homework_table_wrapper .MuiTableRow-root:not(:last-child) .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}
.homework_table_wrapper .MuiTableHead-root .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}
.selected {
  background-color: #FFECEC;
  position: relative;
}
.homework_table {
  margin-top: 0% !important;
  border-radius: 10px !important;
  overflow-y: auto;
  max-height: 10000px !important;
}
.homework_table_wrapper {
  border-radius: 10px !important;
  box-shadow: none !important;
}
.homework_header {
  text-transform: capitalize;
}
.homework_block {
  color: #014b7e;
  font-weight: 600;
}
.homework_block_wrapper {
  display: flex;
  width: 95%;
  padding-bottom: 1%;
  margin: 20px auto;
  border-bottom: 1px solid #cfcfcf;
}
.not_selected{
	position: relative;
}
.hw_not_submitted{
	position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ff6b6b;
    border-bottom: 1px solid #ff6b6b;
    width: 20px;
}
.subject-homework-details-wrapper{
    font-size: 1rem !important;
    padding: 5%;
    border: 1px solid #ff6b6b;
    border-radius: 10px;
}
.subject-homework-details-tag{
	margin: 0% 0% 5%;
}
.homework_header_dropdown_wrapper{
	position: relative;
	padding: 16px 8px;
}
.homework_student_other_language{
	width: 100px;
    margin: auto;
}
.homework_student_other_language .MuiInputBase-input {
color: #014b7e !important;
font-weight: 600;
}
.homework_student_other_language .MuiSvgIcon-root {
	color: #ff6b6b !important;
}
.homework_student_other_language-textfield{
	color: #014b7e !important;
}
.homework_student_other_language .MuiInput-underline:before{
	border: none !important;
	outline: none !important;
}
.homework_student_header_count{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ff6b6b;
	color: white;
	width: 20px;
}
.homework_right_wrapper{
	padding: 0%;
	margin-top: 5px;
    margin-left: 5px;
}
.homework_right_wrapper_items{
	padding:  0%;
	margin: 0%;
}


@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.group-a{
		background-color: #F9F9F9;

	}
	.message_log_breadcrumb_wrapper {
		background-color: #F9F9F9;
	}
	
	.MuiFormControl-root{
		right: 0px;
		width: 100%;
	}
	.makeStyles-root-1  {
		/* width: 100%; */
	}	
	.MuiPaper-rounded{
		width:100%
	}
	.message_log_wrapper .homework_block_wrapper {
		display: block;
	}
	.message_log_wrapper .homework_block_wrapper {
		width: 90% !important;
		border-bottom: 1px solid #cfcfcf;
		align-items: center !important;
		display: grid !important;
		grid-template-columns: auto auto !important;
		font-size: 13px !important;
		line-height: 30px !important;
		/* padding: 10px; */
		text-align: center;
		/* left: 5px; */
		

	}
	.MuiGrid-spacing-xs-5{
		padding: 20px
	}
	.create_group_filter_container {
		padding: 0px 2.5%; 
		margin: 0 auto;
	}
	.subject-homework-tag {
		text-align: left;
	}
	.homework_right_wrapper_items{
		padding:10px;
	}
	.homework_block{
		text-align: left;
	    margin-left: 18px;
	}
	.homework_details_timeline-card{
		border-radius: 15px  !important;
	}
  }

  