@import '../../../assets/styles/variables';
.common-table {
  width: 100%;
  .table-header-row {
    background-color: '#ffffff';
    tr {
      th {
        position: sticky;
        top: 0;
        margin: '10px 0';
        color: $secondary-color !important;
        &:not(:last-child) {
          &:after {
            content: '';
            width: 2px;
            background-color: $primary-color;
            height: 60%;
            position: absolute;
            border-radius: 5px;
            right: 0;
            transform: translateY(-10%);
          }
        }
      }
    }
  }
  .table-pagination {
    color: $secondary-color;
  }
}

.pagination-white {
  button.Mui-selected {
    color: #ffffff;
  }
}
