.announcementsrc {
  .attachment-viewer-frame-preview {
    margin: auto;
    width: 90%;
  }
  .attachment-viewer-frame-preview-image-wrapper {
    margin: auto;
    width: 90%;
  }
  .attachment-viewer-frame-preview-image {
    margin: auto;
    width: 90%;
  }
}
