.section-content {
  display: flex;
  flex-wrap: wrap;
}

.downloadAllContainer {
  display: flex;
  width: -webkit-fill-available;
}
.downloadAllIcon.MuiAccordion-root {
  margin-bottom: 1rem;
}

.MuiIconButton-root.bulkDownloadIconViewMore {
  padding: 0;
}

.accordian.MuiCollapse-container {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .downloadAllContainer {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
