.feeContainer {
    width: 100%;
    overflow-x: auto;
  }
  .accBrnchMapping *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  .accBrnchMapping{
      width: 95%;
      margin: auto;
      min-width: 800px;
      /* padding-bottom: 60px; */
      border: 0.1px solid #646363d5;
      border-bottom: 0px solid #ffffff;
  }
  .accBrnchMapping__header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 40px;
      background-color: #eeeeee65;
  }
  /* .accBrnchMapping__body{
      border: 0.5px solid #646363
  } */
  .accBrnchMapping__headingSmall,
  .accBrnchMapping__headingBig{
      font-weight: lighter;
      padding-left: 20px;
      height: 100%;
      padding-top: 10px;
  }
  .accBrnchMapping__headingSmall{
      width: 40%; 
  }
  .accBrnchMapping__headingBig{
      width: 60%;
      border-left: 0.1px solid #e9e8e8;
  }
  .accBrnchMapping__branch{
      display: flex;
      justify-content: space-around;
      border-bottom: 0.1px solid #e9e8e8;
  }
  .accBrnchMapping__branchInfo{
      width: 40%;
      padding-left: 20px;
      display: flex;
      border-right: 0.1px solid #646363d5;
      padding-top: 15px;
  }
  .accBrnchMapping__branch:nth-child(even) .accBrnchMapping__branchInfo{
      background-color: #eeeeee65;
  }
  .accBrnchMapping__branchName{
      width: 80%;
  }
  .accBrnchMapping__icon{
      width: 20%;
  }
  .accBrnchMapping__brnchAccInfo{
      width: 60%;
  }
  .accBrnchMapping__accInfo{
      display: flex;
      padding: 15px 0 15px 20px;
      border-bottom: 0.1px solid #e9e8e8;
      
  }
  .accBrnchMapping__accInfo:nth-child(even){
      background-color: #eeeeee65;
  }
  .accBrnchMapping__accName{
      width: 90%;
  }
  .accBrnchMapping__dlt{
      width: 10%;
      border-left: 0.1px solid #e9e8e8;
      padding-left: 10px;
  }
  .accBrnchMapping__dlt:hover{
      cursor: pointer;
  }
  .modal__heading{
      text-align: center;
      padding-top: 15px;
      margin-bottom: 15px;
  }
  .modal__button,
  .modal__remainbutton,
  .modal__deletebutton{
      display: inline-block;
      position: absolute;
  }
  .modal__button{
      bottom: 5px;
      right: 2px;
  }
  .modal__deletebutton{
      bottom: 5px;
      right: 10px;
  }
  .modal__remainbutton{
      bottom: 5px;
      left: 10px;
  }