.rangeCalendar {
  width: 100%;
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .rdrDateRangeWrapper {
    width: 100%;
  }
  .rangeCalendar {
    width: 100%;
  }
  .rdrMonth {
    width: 100%;
    padding-bottom: 0px;
  }
  .rdrMonthAndYearWrapper {
    padding: 0px;
  }
  .rdrDateDisplayWrapper {
    display: none;
  }
}
