#viewAudioContainer{
    .makeStyles-audioContainer-83{
       .MuiGrid-align-items-xs-center{
           margin: 0 5%;
       }
    }
    .totalPlayer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}