.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}
.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 250px;
  left: 100px;
}

.third-col {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  left: 250px;
}

.sticky-col-head {
  position: -webkit-sticky;
  position: sticky;
  background-color: lightgrey;
}
.tableContainer {
  margin-top: 26px;
  /* overflow: hidden !important; */
}
.custom-breadcrumb {
  margin-bottom: 15px;
}
/* .mobile-month {
    margin-left: 25px;
  }
  .mobile-year {
    margin-left:-49px;
    
}
.mobile-search {
 margin-left: -47px;
}
.mobile-download{
    margin-left: -93px;
    margin-top: 9px;
} */

.mobile-attendance {
  width: 490px;
}

@media only screen and (max-width: 700px) {
  .mobile-month {
    margin-left: 8px;
  }
  .mobile-year {
    margin-left: 10px;
  }
  .mobile-download {
    margin-left: -7px;
  }
  .sticky-col {
    position: inherit;
  }
  .first-col {
    position: inherit;
  }
  .sticky-col-head {
    position: inherit;
  }
  .second-col {
    position: inherit;
  }

  .third-col {
    position: inherit;
  }
  .tableContainer {
    position: inherit;
    overflow: scroll !important;
  }
  .mobileYear {
    padding-left: 0px !important;
  }
  .absentPadding {
    padding-left: 0px !important;
  }
  .holidayPadding {
    padding-left: 0px !important;
  }
  .latePadding {
    padding-left: 0px !important;
  }
  .halfdayPadding {
    padding-left: 0px !important;
  }
  .mobile-attendance {
    width: auto !important;
  }
}

.mobileYear {
  padding-left: 16px !important;
}

.th-font-size-13 .MuiTypography-body1 {
  font-size: 13px !important;
}
.th-sticky-header .MuiTableContainer-root {
  overflow-x: inherit !important;
}
.th-datepicker .MuiTableContainer-root {
  overflow-x: inherit !important;
}
.search {
  display: flex !important;
  /* justify-content: space-around; */
  align-items: center !important;
  margin: 10px 0px;
  padding: 5px;
}

.th-label.MuiFormControlLabel-root {
  min-width: 80px;
}
