.downloadAllContainer {
  display: flex;
}
.downloadAllIcon {
  margin: 5px;
}

.resourceBulkDownload {
  font-size: 1.1rem;
  color: #ff6b6b;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 10px 15px;
}

.download {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: #ff6b6b;
}
.totalPeriod {
  font-size: 1rem;
  font-weight: 500;
}

.messageDivider.MuiDivider-root {
  border: none;
  height: 1px;
  width: 24.375;
  margin: 0;
  flex-shrink: 0;
  background-color: #e87bcb;
  opacity: 100;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.titleDivider.MuiDivider-root {
  border: none;
  height: 1px;
  width: 24.375;
  margin: 0;
  flex-shrink: 0;
  background-color: #00d97d;
  opacity: 100;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.mediaBody {
  height: 2rem;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin: 10px 0px 0px 20px;
}
