.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 .counter{
    font-size: 100px;
    text-align: center;
 }
 @-webkit-keyframes shrink {
   from {
      -webkit-transform:scale(1);
   }
   to {
      -webkit-transform:scale(4.33);
   }
}
 @keyframes fadeInUpBig {
    0% {
       opacity: 0;
       transform: translateY(200px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
 }
 .shrink{
    -webkit-animation-name: shrink;
    animation-name: shrink;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: -moz-transform;
    transition-duration: 1s;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }


 .grow{
   transition-duration: 0.5s;
   animation-name: grow;
   animation-duration: 0.5s;
   animation-timing-function: linear;
 }

 .counter__position {
    width: 100%;
    position: relative;
    top: 40%;
 }
 @keyframes grow {
   from {
       -webkit-transform:scale(0);
   }
   to {
       -webkit-transform:scale(1);
   }
}