:root {
    --quiz-bg-color: black;
    --quiz-color: white;
    --quiz-lobby-topbar-color: white;
    --quiz-lobby-topbar-bg-color: pink;
    --quiz-lobby-contentdiv-bg-color: #461f42;
  }
.Quiz-home{
    font-family: Quicksand,Helvetica,Arial;
    /* position: fixed; 
    z-index: 1300; 
    right: 0px; 
    bottom: 0px; 
    top: 0px; 
    left: 0px;  */
    /* background-image: url('../mp-quiz-components/leaderboard/assets/quiz_background.svg'); */
    background-size: cover;
    /* background-color: var(--quiz-bg-color); */
    color: var(--quiz-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    /* padding: 7px; */
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    overflow: hidden;
}

.quiz__background {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.volume__controller {
    width: 2.5em;
    position: absolute;
    left: 7%;
    top: 1em;
    z-index: 1000;
}

.quiz__volume--mute {
    /* margin-left: 2rem; */
    content: url('../mp-quiz-components/leaderboard/assets/Sound_on.svg');
}

.quiz__volume--unmute {
    /* margin-left: 2rem; */
    content: url('../mp-quiz-components/leaderboard/assets/Sound_off.svg');
}

.quiz__background--started {
    content: url('../mp-quiz-components/leaderboard/assets/bg.png');
}

.quiz__background--ended {
    content: url('../mp-quiz-components/leaderboard/assets//post_quiz_bg_desktop.png');
}

.Quiz-home *{ 
    color: var(--quiz-color);
}
.Quiz-home > *{
    /* margin: 7px !important; */
}


/* width */
.Quiz-home::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.Quiz-home::-webkit-scrollbar-track {
    background: var(--quiz-bg-color);

}
   
/* Handle */
.Quiz-home::-webkit-scrollbar-thumb {
    background: rgba(128,128,128, 0.5); 
}

/* Handle on hover */
.Quiz-home::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.Quiz-lobby-topbar{
    /* background: var(--quiz-lobby-topbar-bg-color); */
    /* border:1px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    color: var(--quiz-lobby-topbar-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 4px 0;
    /* font-weight: bold; */
}
@media screen and (min-width: 601px) {
    .Quiz-lobby-topbar{
        font-size: 1.4rem;
    }
  }
.Quiz-lobby-topbar *{
    margin: 0;
    padding: 0;
    min-height: 20%;
    max-height: 20%;
}
.Quiz-lobby-contentdiv{
    /* background: var(--quiz-lobby-contentdiv-bg-color); */
    /* border-radius: 14px; */
    /* color: black;
    margin: 6px 0 0 0;
    padding: 10px;
    min-height: 90vh;
    max-height: 90vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}
.Quiz-play-contentdiv, .Quiz-lobby-contentdiv {
    position: absolute !important;
    top: 0;
    width: 95%;
    height: 95vh;
    min-height: 95vh;
    max-height: 95vh;
    left: 50%;
    transform: translateX(-50%);
    /* background: var(--quiz-lobby-contentdiv-bg-color); */
    /* background-size: contain;
    background-position:top;
    background-repeat: no-repeat; */
    /* transform: scaleX(1.05); */
    position: relative;
    border-radius: 14px;
    color: black;
    margin: 6px 0 0 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* transform: scale(0.5); */
}


/* .btn-grp{
    background:rgb(37,37,37);
}
.btn-grp:first-child{
    border-radius: 8px 0px 0px 8px !important;
    border: 1px solid springgreen;
}
.btn-grp:last-child{
    border-radius: 20px;
    border: 1px solid red;
    color: red !important;
} */
.topbar-btn{
    /* since IconButton element is material ui element..evry prop need !important */
    background-color: rgb(84,84,84) !important;
    border-radius: 8px !important;
    padding: 4px !important;
    min-width: 34px !important;
    min-height: 34px !important;
    max-height: 34px !important;
}
.topbar-btn-icon{
    padding: 0;
    margin: 0;
    font-size: '1.6rem';
    font-weight: 'bolder';
}

.quiz__topbar--container {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    font-size: 80%;
}

.quiz__topbar--questioncount {
    position: absolute;
    left:20%;
    top: 2.5em;
}

.quiz__topbar--timer {
    position: absolute;
    left: 36%;
    top: 2em;
}

.quiz__topbar--participantcount {
    position: absolute;
    left: 50%;
    top: 2em;
}

.quiz__topbar--currentrank {
    position: absolute;
    left: 72%;
    top: 3em;
}

.paricipant__attended--count {
    font-size: 2em;
}

.quiz__topbar--currentscore {
    position: absolute;
    right: 4%;
    top: 1.2em;
}

.quiz__participants--container {
    width: 50%;
    height: 70vh;
    overflow: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.quiz__participants--container::-webkit-scrollbar-thumb{
    background: #555;
}

.lobby__participants--container {
    width: 85%;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.host__quiz--container {
    width: 90%;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.host__quiz--container--withscroll {
    /* overflow: scroll; */
    overflow: auto;
}

.lobby__participants {
    width: 100%;
    height: 95%;
    overflow: auto;
}

.lobby__participants::-webkit-scrollbar-thumb {
    background: #555;
}

.lobby__participants > div{
    width: 33%;
    display: inline-block;
}

.quiz__participants--container::-webkit-scrollbar {
    width: 10px;
}

.quiz__participants--container::-webkit-scrollbar-thumb {
   background: #555;
}

.btn__end--quiz, .btn__start--quiz {
    border: none;
    font-size: 1.5em;
    padding: 8px 15px;
}

.btn__end--quiz {
    background-color: rgb(51, 191, 226);
}

.btn__start--quiz {
background-color: #27a936;
}

.btn__end--quiz:hover, .btn__start--quiz:hover {
    cursor: pointer;
}

.btn__edit--profile {
  border: 1px solid white !important;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.icon__settings {
 display: inline-block;
}

.avatar__modal {
    background-color: rgba(255, 255, 255, 0.938);
    width: 70%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    outline: none;
    border-radius: 10px;
    border: 2px solid gold;
}

.close__icon:hover {
    cursor: pointer;
}

.avatars__container {
    width: 100%;
    height: 100%;
}

.quiz__avatars--holder {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    overflow: auto;
}

.quiz__avatar {
    position: relative;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    border-radius: 8px !important;
    margin-bottom: 20px;
}

.avatar__name {
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.quiz__avatar:hover {
    cursor: pointer;
}

.avatar__select {
    position: absolute !important;
    right: -20px !important;
    top: -20px;
    width: 70px !important;
    height: 70px !important;
}

.avatar__select:hover {
    cursor: pointer;
}

.temp{
    border: 1px solid salmon;
    text-align: center;
    /* padding: 0 !important;
    margin: 0 !important; */
}
.wrapper-lobby-content{
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 87vh;
    min-height: 87vh;
    max-height: 87vh;
    /* height: 100%;
    min-height: 100%;
    max-height: 100%; */
    border: 1px solid green;
    /* overflow: auto !important; */
}
.wrapper-lobby-content>*{
    min-height: 30% !important;
    max-height: 30% !important;
}
.game-info-widget {
    box-sizing: border-box;
    margin: 0 auto;
    width: 320px;
    padding: 12px 24px;
    background-color: rgba(0,0,0,.7);
    border-radius: 24px;
    text-align: center;
}
@media screen and (max-width: 575px){
    .game-info-widget {
        width: 100%;
        border-radius: 0;
        padding: 12px 16px;
        text-align: center;
    }
}
.players{
    overflow: auto !important;
    border: 1px solid red;
    min-height: 40%;
    max-height: 40%;
    /* display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; */
} 
.player-card{
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* width: 300px; */
    background-color: rgba(0,0,0,.5);
    border-radius: 24px;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* position: relative; */
    /* margin: 6px 6px 6px 0 !important; */
    padding: 10px;
    margin: 6px !important;
    min-width: 100%;
}
.player-card-name{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: calc(100% - 72px);
    text-align: left;
}
.player-card-name>div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.player-card-avatar{
    /* width: 100%; */
}
.player-card-avatar>img{
    width: 34px;
    height: 34px;
}
@media screen and (min-width: 601px) {
    .player-card-avatar>img{
        width: 48px;
        height: 48px;
    }
}

.studentpostquiz__leaderboard--container {
    width: 90%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
}

.leaderboard__title {
    font-size: 2.5em;
    height: 15%;
    margin: 0;
    text-align: center; 
    margin-bottom: 5px;
}

.btn__close--websocket {
    position: absolute !important;
     top: 0%;
     left: -10px;
}

.btn__fullscreen--quiz {
    position: absolute !important; 
    top: 0%;
    right: -10px;
}

/* media query goes here */

@media only screen and (max-width: 900px) {

    .quiz__background--started {
        content: url('../mp-quiz-components/leaderboard/assets/Tablet_BG_Lines_and_score_holder.png');
    }

    .quiz__background--ended {
        content: url('../mp-quiz-components/leaderboard/assets/post_quiz_bg_tablet.png');
    }


    .quiz__topbar--questioncount {
        left:17%;
        top: 3em;
    }

    .quiz__topbar--currentrank {
        left: 70%;
        top: 3em;
    }

    .quiz__topbar--timer {
        left: 35%;
        top:2.5em;
    }
    
    .quiz__topbar--participantcount {
        left: 52%;
        top: 2.5em;
    }

    .quiz__participants--container {
        width: 70%;
    }

    .quiz__topbar--currentscore {
        right: 7%;
        top: 1.5em;
    }

    .lobby__participants > div{
        width: 48%;
    }

    .leaderboard__title {
        font-size: 1.5em;
    }

    .btn__close--websocket {
        position: absolute !important;
         top:0%;
    }
    
    .btn__fullscreen--quiz {
        position: absolute !important; 
        top: 0%;
    }

    .paricipant__attended--count {
        font-size: 1.5em;
    }

    .btn__end--quiz, .btn__start--quiz {
        padding: 5px 8px;
        font-size: 1em;
    }


    .avatar__modal {
        width: 70%;
    }
    .quiz__volume--unmute,.quiz__volume--mute {
        /* margin-left: 0; */
    }
}

@media only screen and (max-width: 500px) {
    
    .quiz__background--started {
        content: url('../mp-quiz-components/leaderboard/assets/BG_Lines_Pr_mobile_.png');
    }

    .quiz__background--ended {
        content: url('../mp-quiz-components/leaderboard/assets/post_quiz_bg_mobile.png');
    }

    .quiz__topbar--questioncount {
        position: absolute;
        left: 2%;
        top: 0.5em;
    }
    
    .quiz__topbar--timer {
        left: 22%;
        top: 0.2em;
    }
    
    .quiz__topbar--participantcount {
        position: absolute;
        left: 42%;
        top: 0.2em;
    }
    
    .quiz__topbar--currentrank {
        position: absolute;
        left: 64%;
        top: 0.5em;
    }
    
    .quiz__topbar--currentscore {
        position: absolute;
        right: 5%;
        top: 0.6em;
    }

    .quiz__participants--container {
        width: 90%;
    }

    .lobby__participants > div{
        width: 100%;
    }

    .leaderboard__title {
        font-size: 1.2em;
    }

    .btn__close--websocket {
        position: absolute !important;
         top:45px;
         left: 5px;
    }
    
    .btn__fullscreen--quiz {
        position: absolute !important; 
        top: 45px;
        right: 5px;
    }

    .volume__controller {
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn__end--quiz {
        padding: 2px 5px;
        font-size: 0.8em;
    }

    .btn__start--quiz {
        padding: 5px 8px;
        font-size: 1em;
    }

    .quiz__avatars--holder {
        grid-template-columns: auto auto auto;
    }

    .quiz__avatar {
        height: 100px;
    }

    .avatar__modal {
        width: 85%;
    }

    .avatar__select {
        position: relative !important;
        right: 0px !important;
        top: 0px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .lobby__header--title {
        font-size: 16px !important;
    }
}

@media only screen and (max-width:900px) and (orientation:landscape) {
    .quiz__topbar--questioncount, .quiz__topbar--currentrank, .quiz__topbar--timer,  .quiz__topbar--participantcount {
        top: 0.5em;
    }

    .quiz__topbar--currentscore {
        top: 0;
    }

    .lobby__participants {
        height: 85%;
    }

}

.dummy {
    width: 90%;
    height: 85vh;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
} 