.bg {
  background: #f9f9f9;

  height: 20%;
}
.bg-card {
  background: white;
}

.new {
  background: #fcbfbf;
  border-radius: 10px;
  opacity: 1;
}
.flat {
  transform: rotate(270deg);

  /* background-color: #ffd9d9; */
}

.arrange {
  margin-left: 10%;
  background: #ffffff;
  border-radius: 5px;
  width: 20rem;
}
.ran-style {
  background: white !important;
}

.border {
  height: 300%;
}

.arrange .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  margin-top: -20px;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
