.evaluator-calendar {
  // border: 1px solid black;
  // border-radius: 10px;
  // margin: 10px;
  .ant-picker-calendar-mode-switch {
    display: none;
  }
  td {
    border: 1px solid #d9d9d9;
  }
  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
    background: #ddd !important;
    .ant-picker-calendar-date-value {
      color: #000000 !important;
    }
  }
  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    border-top: none !important;
  }
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
    background-color: #ddd !important;
  }
  .ant-picker-calendar-header .ant-picker-calendar-month-select,
  .ant-picker-calendar-header .ant-picker-calendar-year-select {
    min-width: 135px !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px !important;
  }
  .ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding: 0 !important;
    padding-top: 15px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    margin: 0 !important;
  }
  .ant-picker-cell-in-view {
    color: black !important;
  }
}
.assesment-summary {
  .ant-rate {
    font-size: 25px !important;
  }
}
.wholetabCentralHW {
  .th-tabs .ant-tabs-nav-wrap {
    background: white !important;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: end;
  }
  .ant-tabs-tab {
    border-radius: 12px 12px 0 0;
  }
  // .attachments-list-outer-container {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   .prev-btn,
  //   .next-btn {
  //     width: 45px;
  //   }
  //   .attachments-list {
  //     &::-webkit-scrollbar {
  //       display: none;
  //     }
  //     scroll-behavior: smooth;
  //     flex-grow: 1;
  //     overflow-x: auto;
  //     display: flex;
  //     margin: 1rem 0;
  //     width: calc(100% - 90px);
  //     .attachment {
  //       flex-shrink: 0;
  //       width: 750px;
  //     }
  //   }
  // }
  .attachments-container {
    &.with-margin {
      width: 95%;
      margin: 20px auto;
    }
    .header {
      margin: 1rem 0;
    }
    .attachments-list-outer-container {
      width: 100%;
      display: flex;
      align-items: center;
      .prev-btn,
      .next-btn {
        width: 45px;
      }
      .attachments-list {
        &::-webkit-scrollbar {
          display: none;
        }
        scroll-behavior: smooth;
        flex-grow: 1;
        overflow-x: auto;
        display: flex;
        margin: 1rem 0;
        width: calc(100% - 90px);
        .attachment {
          flex-shrink: 0;
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

.chatDrawer {
  .ant-drawer-body {
    padding: 0;
  }
  .userchat {
    background: blanchedalmond;
    border-radius: 10px 10px 10px 0;
  }
  .supchat {
    background: blue;
    border-radius: 10px 10px 0 10px;
  }
}

.file-card-container {
  position: relative;
  height: 100%;
  &:hover {
    .overlay-container {
      opacity: 1;
    }
  }
  .overlay-container {
    padding: 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      .action-buttons {
        margin: auto 0;
      }
    }
  }
  .attachment-file {
    height: 300px;
  }

  .video-file {
    padding: 0.5rem;
    width: 100%;
  }
  .audio-file {
    padding: 0.5rem;
    width: 100%;
  }
}
.rating-area {
  .ant-rate {
    .ant-rate-star {
      font-size: 30px !important;
    }
  }
}

.evaluator-calendar {
  .events {
    bottom: 5px !important;
    position: absolute !important;
    text-align: center !important;
    font-size: 16px !important;
    left: 0 !important;
  }
}

.summary-card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100% !important;
  border-radius: 10px;
  margin-top: 3.5rem !important;
}
