.send_message_wrapper {
  background-color: #f9f9f9;
}
.send_message_group_select_lebel {
  display: inline-block;
  font-size: 1.1428571428571428rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  vertical-align: middle;
  margin-right: 1%;
}


.textFields_message {
  display: block;
  padding: 0%;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  padding-left: 0;
  width: 92.5%;
  outline: none;
  resize: none;
  color: #014b7e;
  font-size: 1.2rem;
}
.text_message_word_count {
  color: #014b7e;
  line-height: 2;
}
.send_message_user_list_wrapper {
  padding: 20px;
  width: 100%;
  background-color: white;
}

.message_sending_white_wrapper{
	margin: 20px 0px 0px;
	padding: 20px 0px 0px;
	background-color: white;
}
.email_subject_wrapper_grid{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.message_type_block_wrapper {
  display: flex;
  width: 95%;
  margin: 20px auto;
  border-bottom: 1px solid #cfcfcf;
}
.message_type_block {
  width: 10%;
  height: 30px;
  text-align: center;
  color: #014b7e;
  cursor: pointer;
}
.message_type_block_selected {
  border-bottom: 3px solid #ff6b6b;
  font-weight: 600;
}
.send_message_message_tag {
  color: #014b7e;
  font-weight: 600;
}
.send_message_type .MuiInputBase-input {
	color: #014b7e !important;
}
.send_message_type .MuiIconButton-label{
	color: #FF6B6B !important;
}
.email_subject_wrapper .MuiFormControl-root {
  width: 70%;
}
.send_message_type .MuiFormLabel-root {
  /* color: #014b7e !important; */
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.send_message_select_all_checkbox {
  transform: scale(1.5);
  margin-right: 1%;
}

.file_name_container{
	font-size: 1rem;
	color: #014b7e;
	font-weight: 600;
}
@media screen and (max-width: 700px) {
  .textFields_message {
    width: 100%;
  }
  .send_message_group_select_lebel {
    margin-right: 4%;
  }
  .message_type_block_wrapper {
    margin: 20px auto;
  }
  .send_message_message_tag {
    margin-top: 2%;
    margin-left: 4%;
  }
  .message_type_block {
    width: 50%;
  }
  .email_subject_wrapper .MuiFormControl-root {
    width: 100%;
  }
  .profile_update_button {
    width: 80%;
  }
  .creategroup_firstrow {
    margin: auto;
    margin-top: 2%;
    padding: 2% 0% 2% 2%;
  }
  .custom_button {
    margin: auto;
  }
  .email_subject_wrapper {
    width: 100%;
    margin: auto;
  }
}
