.send_message_wrapper{
	background-color: #F9F9F9;
}
.send_message_group_select_lebel{
	display: inline-block;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    vertical-align: middle;
	margin-right: 1%;
	color: #014B7E;
}
.MuiTypography-body1{
	color: #014B7E;
}
.send_message_button_wrapper{
	margin: 2%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.textFields_message{
	display: block;
    padding: 0%;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 0;
    width: 96.5%;
    outline: none;
    resize: none;
    color: #014B7E;
    font-size: 1.2rem;
}
.text_message_word_count{
	color: #014B7E;
}
.message_type_block_wrapper{
	display: flex;
    margin: 2%;
    border-bottom: 1px solid #CFCFCF;
}
.message_type_block{
	width: 10%;
    height: 30px;
    text-align: center;
	color: #014B7E;
	cursor: pointer;
}
.message_type_block_selected{
	border-bottom: 3px solid #FF6B6B;
    font-weight: 600;
}
.send_message_message_tag{
	color: #014B7E;
	font-weight: 600;
}
.email_subject_wrapper .MuiFormControl-root{
	width: 40%;
    margin: 2% 1%;
}
.message_type_wrapper   .MuiFormControl-root{
	border: 1px solid #d4cbcb !important;
    border-radius: 10px;
}
.message_type_wrapper   .MuiInput-underline:before{
	border: none !important;
}
.message_type_wrapper   .MuiInput-underline:after{
	border: none !important;
}
.message_type_wrapper   .MuiSelect-select:focus{
	background-color: #F9F9F9 !important;
	border-radius: 10px !important;
}
.message_type_wrapper   .MuiSelect-select{
	border-radius: 5px !important;
}
.message_type_wrapper    label + .MuiInput-formControl{
    margin-top: 3px !important;
}
.message_type_wrapper   .MuiSelect-icon{
	color: #FF6B6B !important;
}
.message_type_wrapper  .MuiInputLabel-outlined{
	transform: translate(14px, 10px) scale(1) !important;
}
.message_type_wrapper  .MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -6px) scale(0.75) !important;
}
.message_type_wrapper  .MuiPaper-elevation8{
	margin-top: 6%;
}
.message_type_wrapper .MuiFormLabel-root{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}