.th-event-popup {
  position: fixed;
  right: 32px;
  bottom: 30px;
  z-index: 1501;
  display: flex;
  flex-direction: column;
  width: 20vw;
  /* Add transition for smooth animation */
  transition: transform 0.3s ease;
  transform: translateY(100%); /* Initially translate down by 100% */
}
.th-event-popup.open {
  transform: translateY(0); /* Translate to original position */
}
.th-event-img {
  background-size: cover;
  background-clip: padding-box;
  height: 36vh;
  border-radius: 16px 16px 0px 0px;
}
.th-event-close-icon {
  position: absolute;
  top: 10px;
  right: 4px;
  background: white;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.th-event-popup-closed {
  position: fixed;
  right: 32px;
  bottom: 10px;
  z-index: 1501;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translateY(100%); /* Initially translate down by 100% */
}
.th-event-popup-closed.eventClose {
  transform: translateY(0); /* Translate to original position */
}
