.graphs__dashbord{
    width: 80%;
   
}



.omselect__mgmt__dashboard{
    margin-left: 33%;
    margin-right: 11px;
}
.dashboard__header__mgmt{
    background: peachpuff;
    height: 64px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
}
.insight__card__text{
    border: 2px solid grey;
    height: 31px; 
    align-items: center ;
   border-radius:20px;
    display: flex;
    border-width: thin

}

@media screen and (max-width: 414px) {
    .expense_bar{
        flex-wrap: wrap;
    }
    .expense_tracker_bar{
        margin-left: 55% !important;
    }
    
}
.omselect__phase2{
    margin-left: 100vh !important;
}
.ratings__analytics{
    margin-left: 100vh !important;
    margin-top: -10vh;
    /* width: 80vh; */
}

@media screen and (max-width: 768px) {
    .expense_bar{
        margin-left: 25% !important;
    }
    .expense_tracker_bar{
        margin-left: 55% !important;
    }
    
}