#title-header {
    margin-top: 56px;
    height: 150px;
    padding: 10px;
    background-color: #821057;
    color: #ffffff;
}

@media (min-width:0px) and (orientation: landscape) {
    #title-header {
    margin-top: 48px;
  }
}
@media (min-width:600px) {
  #title-header {
    margin-top: 64px;
  }
}