
@media only screen and (min-width: 360px) {
    .modal-container{
        position: absolute;
        margin-top: -90%;
        width: 95%;
        overflow: scroll;
        height: 300px;
        padding: 2%;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #FFFFFF;
        border-radius: 10px;
    
    }
    .modal-content{
        padding-top: 0%;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20%;
        text-shadow: 2px 2px white;
    }
    .button{
        margin-top: 25%;
        margin-right: 20px;
    }
    .react-table{
        width: 65%;
        margin-left: 2%;
    }
    .wallet{
        font-size: 25px;
        width: 80%;
        display: flex;
        margin: 10%;
        text-align: center;
        padding: 2%;
        margin-right: -30px;
        box-shadow: 0px 2px 2px #888888;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }

}
@media only screen and (min-width: 375px) {
    .react-table{
        width: 70%;
        margin-left: 3%;
    }
    .modal-container{
        margin-left: 1%;
        width: 90%;
    
    }
}
@media only screen and (min-width: 768px) {
    .modal-container{
     margin-left: -5%;
     margin-top: -40%;
     width: 65%;
    
    }
    .modal-content{
        padding-top: 1%;
        font-size: 20px;
    }
}

.wallet-icon{
    margin-right: 8%;
}
@media only screen and (min-width: 1024px) {
    .wallet{
        display: flex;
        margin: 6%;
        width: 70%;
        text-align: center;
        padding: 2%;
        font-size: 40px;
        box-shadow: 0px 2px 2px #888888;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }
    .react-table{
        width: 90%;
        margin-left: 20px;
    }
    .wallet-icon{
        margin-right: 8%;
    }
    .button{
        margin-top: 10%;
        height: 60px;
    }
    .modal-container{
        position: absolute;
        margin-left: 5%;
        margin-top: -22%;
        width: 65%;
        overflow: scroll;
        height: 350px;
        padding: 2%;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #FFFFFF;
        border-radius: 10px;
    
    }
    .modal-content{
        padding-top: 0%;
        font-size: 23px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20%;
        text-shadow: 2px 2px white;
    }

}

