
.add_sms_credit_box{
	width: 50px;
    height: 25px;
    text-align: center;
    outline: none;
    border: none;
    /* color: #014B7E; */
}
.change_sms_credit_box{
	background-color: gainsboro;
}
.addcredit_button_wrapper{
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
}
.sms_credit_white_space_wrapper{
	width: 100%;
	margin-top: 20px;
	padding: 20px 0px;
	height: 28vw;
	background-color: white;
}
.add_credit_mobile_form_outside_wrapper{
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e8dfdfa3;
    padding: 3% 5%;
    width: 100%;
    height: 180vw;
    border-radius: 5px;
    z-index: 1450;
}
.add_credit_mobile_form{
    padding: 3% 5%;
	width: 100%;
	z-index: 1500;
}
.close_icon_add_message_credit{
	color: #ff6b6b;
	float: right;
}
.add_credit_mobile_input{
	text-align: center;
}
.add_credit_mobile_form_heading{
	color: #014B7E;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
}
@media screen and (max-width: 700px) {
	

}
