.main-question-panel {
  border: 1px solid #ff6b6b;
  padding: 10px;
  border-radius: 5px;
  color: #014b7e;
}

.question-header {
  margin-bottom: 15px;
}

.question-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 10px;
  font-weight: bold;
}

.mcq-question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;

  margin: 0 auto;
}

.mcq-question-wrapper img {
  margin-bottom: 20px;
}

.mcq-options {
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  background: #fceeee;
  padding: 10px;
  width: 100%;
  text-align: center;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 10px;
}
.mcq-options:hover {
  background: #ffdddd;
}

.MuiFormControlLabel-root {
  min-width: 290px;
}

.question-submit-btn {
  border: 1px solid #055888;
  border-radius: 5px;
  background: #055888;
  padding: 10px;
  width: 100%;
  text-align: center;
  max-width: 400px;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}

.question-submit-btn:hover {
  background: #164c6c;
}

/* .mcq-question-wrapper h3 {

} */

.instruction-screen-wrapper {
  /* position: relative; */
}

.instruction-screen {
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background: black;
  background: rgba(0, 0, 0, 0.8);

  /* filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); */
  /* background-color: rgba(70, 75, 75, 0.24); */
}

.instruction-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.instruction-screen p {
  margin-bottom: 100px;
}

.instruction-screen .mcq-question-wrapper {
  /* gap: 10px; */
  color: #000;
}

.instruction-screen .mcq-question-wrapper .mcq-options {
  width: 200px;
}

.instruction-screen .mcq-question-wrapper .question-submit-btn {
  width: initial;
}
/* .instruction-mcq {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.match-question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.match-answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.match-image img {
  max-width: 100%;
}

.matrix-options {
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  background: #fceeee;
  padding: 10px;
  /* width: 100%; */
  text-align: center;
  /* max-width: 200px; */
  min-width: 150px;
  cursor: pointer;
  margin-bottom: 10px;
}

.matrix-main-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
