@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 10%;
    width: 100%;
  }
}

.downloadAllContainer {
  display: flex;
}
.downloadAllIcon {
  margin: 5px;
}

.totalPeriod {
  font-size: 1rem;
  font-weight: 500;
}
