

.validation-form-container{

    background-color: #e9c6cc;
    padding: 10px;
    display: flex;

}

.btn__report--problem {
    float: right;
}

@media only screen and (max-width: 500px) {
    .btn__report--problem {
        float: left;
        margin-top: 5px;
    }
}