.onlineclass__feedback--modal {
    background-color: white;
    width: 70%;
    height: 60vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.onlineclass__feedback--topbar {
    width: 100%;
    height: 12vh;
    background-color: #4DC1EA;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.onlineclass__feedback--topbartitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 32px;
}

.onlineclass__emoji--container {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
}

.btn__not--attend {
    position: absolute !important;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4DC1EA !important;
    color: #fff !important;
}

.onlineclass__continue--class {
    color: #4DC1EA;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
}

.onlineclass__continue--class:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .onlineclass__feedback--modal {
        width: 80%;
    }

    .onlineclass__feedback--topbartitle {
        font-size: 30px;
    }

    .btn__not--attend {
        top: 60%;
    }
}

@media only screen and (max-width: 672px) {
    .onlineclass__feedback--modal {
        width: 90%;
    }

    .onlineclass__feedback--topbartitle {
        font-size: 16px;
    }

    .btn__not--attend {
        top: 50%;
    }
}