
@media only screen and (max-width: 1280px) {
    

.discussion-comment-button{
    max-width: 100px !important;
    
}
}
@media only screen and (max-width: 1260px) {
    

    .discussion-comment-button{
        max-width: 100px !important;
        
    }
    }
.discussion-comment-button{
    max-width: 120px !important;
    
    
}