@import '../../../assets/styles/variables';

.assign-role-container {
  .spacer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inner-container {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .MuiDataGrid-footer {
    .MuiTablePagination-root {
      width: 100% !important;
      // color: $secondary-color !important;
      .MuiTablePagination-toolbar {
        justify-content: center;
        .MuiTablePagination-spacer {
          flex: 0;
        }
      }
    }
  }
}
