.homework_timeline_received_submitted{
	min-width: 132px;
}
.homework_timeline_rating{
	min-width: 264px;
}
.subject-homework-tag-wrapper{
	display: flex;
	margin: 0% 0% 5%;
}
.subject-homework-tag{
	color: #014b7e;
    font-size: 1rem;
	font-weight: 600;
	width: 100%;
}
.rating_days .MuiInputBase-input{
	color: #014b7e !important;
}
.rating_days .MuiSvgIcon-root{
	color: #014b7e !important;
}
.rating_days{
	width: 245px;
    background: #fddfde;
}
.homework_details_timeline-card{
	box-shadow: none !important;
	border: 1px solid #CCCCCC;
}
.subject_rating_wrapper{
	padding: 4% 0%;
	display: flex;
	justify-content: space-between;
}
.subject_rating_first_letter{
	width: 28px;
    height: 28px;
    background: #00D191;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 11px;
	padding: 2%;
	text-transform: capitalize;
    display: inline-block;
}
.subject_rating_subject_name{
	/* border-bottom: 1px solid #ff6b6b; */
    color: #014b7e;
    display: inline-block;
    /* width: 10%; */
	/* vertical-align: text-bottom; */
	text-transform: capitalize;
}
.subject_rating{
	font-size: 1.3rem;
	color: #014b7e;
	margin: 0% 1%;
}
.homework_timeline_card_tag{
	color: #014b7e;
	display: flex;
}
.homework_details_timeline-card_content{
	padding: 8px !important;
}
.homework_timeline_card_info{
	color: #014b7e;
}
.homework_details_timeline_rating_row{
	display: flex;
	flex-direction: row;
	margin-bottom: 3%;
}
.homework_details_timeline_subjects{
	margin: auto;
}
.homework_timeline_card_subject{
	margin: 0% 8% !important;
}
@media only screen and (max-width: 768px) {
	.homework_timeline_container{
		display: block !important;
	}
	.subject_rating_first_letter{
		padding: 4px
	}
.homework_timeline_received_submitted{
	padding: 10px !important;
}
.static-media{
	width: 30px !important;
    height: 43px !important;
    margin-top: 5px !important;
    margin-right: 24px !important;
    float: right !important;
}
.homework_timeline_card_tag{
	padding: 10px !important;
}
.homework_right_wrapper_items{
	width: 100%;
}

.subject_rating_wrapper {
	display: flex;
}
.subject_rating_wrapper .sub-string{
	width: 28px;
    height: 28px;
    background: #00D191;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 11px;
    padding: 2%;
    text-transform: capitalize;
	display: inline-block;
	/* margin-left: -61px; */

}
.info-card-info {
	font-size: 24px !important;
}

}