.postquiz__leaderboard--container {
    width: 100%;
    height: 100%;
    position: relative;
}

.postquiz__playerinfo--background {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    content: url('../assets/post_quiz_Player_info_BG.png');
}

.postquiz__rank--container {
    position: relative;
    font-size: 80%;
    padding: 1em;
    background-color: #10203A;
    border: 0.5px solid rgb(199, 199, 199);
    border-radius: 1em;
    margin: 0.5rem;
}

.postquiz__rank--container > div {
    display: inline-block;
}

.postquiz__rank {
    width: 10%;
    border-right: 1px solid white;
    text-align: center;
    font-size: 2em;
}

.postquiz__emoji {
    width: 10%;
    position: relative;
}

.postquiz__emoji > img {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%) scale(1.8);
}

.postquiz__user--name {
    width: 20%;
    font-size: 2em;
    line-height: 75%;
    text-transform: capitalize;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */

}

.postquiz__progress--holder--host {
    width: 25%;
}

.postquiz__progress--holder--student {
    width: 40%;
}

.attempted__questions--count {
    width: 15%;
    text-align: center;
    font-size: 2em;
}

.postquiz__progress--parent {
    position: relative;
    height: 2em;
    top: 5px;
    background-color: #FF4343;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgb(67,43,78);
}

.postquiz__progress--child {
    position: absolute;
    height: 100%;
    background-color: #4DCD8B;
    border-radius: 7px;
}

.postquiz__user--points {
    width: 20%;
    text-align: center;
    font-size: 2em;
}

.postquiz__done--status {
    position: absolute;
    top: 2em;
    left: 2em;
    font-size: 1.5em;
}

.postquiz__showtop5 {
    position: absolute;
    right: 1.5em;
    top: 1.7em;
    font-size: 1.5em;
}

.postquiz__participants--container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    /* overflow: scroll; */
    overflow: auto;
}

.postquiz__participants--container::-webkit-scrollbar-thumb{
    background: #555;
    }

.postquiz__accuracy--container {
    width: 100%;
    font-size: 80%;
    height: 60px;
    background-color: #10203A;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postquiz__accuracy--progress {
    width: 95%;
    height: 80%;
    background-color: #FF4343;
    position: relative;
}

.postquiz__accuracy--corners {
    width: 10%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/LB_Ballance_score_box.svg');
    transform: scale(1.5);
}

.postquiz__accuracy--progress-container {
    width: 5%;
    height: 100%;
    position: absolute; 
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/LB_Ballance_box.svg');
    top: 50%;
    left: 0;
    /* transform: translateY(-50%) scale(2); */
}

.postquiz__accuracy--left-container {
    left: 0;
    background-position: left;
    transform-origin: left;
}

.postquiz__accuracy--left-text {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 2.5em;
    transform: translate(15px, -50%);
}

.postquiz__accuracy--right-container {
    right: 0;
    background-position: right;
    transform-origin: right;
}

.postquiz__accuracy--right-text {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 2.5em;
    transform: translate(-15px, -50%);
}

.btn__download--results {
    position: absolute;
    right: 2em;
    top: 3em;
    border: 1px solid white;
    padding: 2px 20px;
    min-width: 100px;
    line-height: 20px;
    text-align: center;
    background: none;
    font-weight: bold;
    font-size: 0.9em;
}

.btn__download--results:hover {
    cursor: pointer;
}

.review__answers--quiz {
    margin: 30px 10px;
    padding: 10px;
    border: 1px solid black;
}
.options__container--quiz {
    margin-top: 40px !important;
} 

@media only screen and (max-width: 900px) {
.postquiz__playerinfo--background {
    content: url('../assets/post_quiz_Player_info_BG_tablet.png');
}

.postquiz__rank--container {
    font-size: 60%;
}

.postquiz__rank {
    width: 5%;
}

.postquiz__emoji > img {
    transform: translate(-50%, -65%);
}

.postquiz__user--name {
    width: 25%;
}

.postquiz__progress--holder--host {
    width: 20%;
}

.postquiz__progress--holder--student {
    width: 35%;
}

.attempted__questions--count {
    width: 15%;
}

.postquiz__user--points {
    width: 25%;
}

.postquiz__done--status {
    left: 2em;
    font-size: 1.2em;
    top: 3em;
}

.postquiz__showtop5 {
    right: 2em;
    top: 2.5em;
    font-size: 1.2em;
}
}

@media only screen and (max-width: 500px) {
    .postquiz__playerinfo--background {
        content: url('../assets/post_quiz_Player_info_BG_mobile.png');
    }

    .postquiz__progress--parent {
        top: 2px;
    }

    .postquiz__rank--container {
        font-size: 40%;
    }

    .postquiz__done--status {
        left: 1em;
        font-size: 1em;
        top: 3em;
    }
    
    .postquiz__showtop5 {
        top: 2em;
        right: 0px;
        font-size: 1em;
    }

    .btn__download--results {
        font-size: 0.7em;
    }
}

@media only screen and (max-width:900px) and (orientation:landscape) {
    .postquiz__done--status, .postquiz__showtop5 {
        top: 1em;
    }
}