.shrink-img img{
    width: 100px;
    height: auto;
}
.whole-container-lr{
    /* position: relative; */
    /* min-height: 100%; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.whole-container-lr>div{
    /* border: 2px solid springgreen; */
    height: 50%;
    min-height: 50%;
    max-height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 38.5vh;
    min-height: 38.5vh;
    max-height: 38.5vh;
    align-items: stretch;
}
.question-container-lr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 80%;
    max-height: 100%;
    /* color: #fff; */
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    /* height: 50%;
    min-height: 50%;
    max-height: 50%; */
}

.options-grid-rl{
    width: calc(80% + 4px);
    height: calc(100% + 4px);
    margin: -2px;
    /* position: relative; */
}
@media screen and (min-width: 576px){
.options-grid-rl {
    width: calc(100% + 10px);
    height: calc(60% + 10px);
    margin: -5px;
}
}

.resizeable-text-rl{

    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80%;
    font-weight: 500;
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.resizeable-rl{
    width: 100%;
    max-height: 100%;
    /* color: #fff; */
    font-weight: 500;
    font-size: 3em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.recoreded__questions__review{
    text-align: center;
    margin-top: 10vh;
}
.options-container-rl{
    /* position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,10%);
    width: 85%;
    background-color: transparent;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-top: 4px; */
    padding-top: 25px;
    padding-bottom: 25px;
}
@media only screen and (min-width: 576px){
    .option-rl {
        padding: 5px;
    }
}
.option-rl {
    /* position: relative; */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 2.5px;
}

.option-inner-rl{
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
}

.option-inner__border {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4) !important;
}

@media screen and (min-height: 481px){
    .option-rl .option-inner-rl {
        padding: 5px;
    }
}
@media screen and (min-width: 576px){
    .option-rl .option-inner-rl {
        border-radius: 8px;
    }
    /* .option-rl-1{
        position: absolute; top: 0px; left: 0px; 
        width: 168px; 
        height: 258px;
    
    }
    .option-rl-2{
        position: absolute; top: 0px; left: 168px; 
        width: 168px;
        height: 258px;
    }
    .option-rl-3{
        position: absolute; top: 0px; left: 336px;
        width: 168px;
        height: 258px;
    }
    .option-rl-4{
        position: absolute; top: 0px; left: 502px;
        width: 168px;
        height: 258px;
    } */
}
.option-rl.option-rl-1 .option-inner-rl{
    background-color: #2f6dae;
    border: 3px solid #2f6dae;
}
.option-rl.option-rl-2 .option-inner-rl{
    background-color: #2c9ca6;
    border: 3px solid #2c9ca6;
}
.option-rl.option-rl-3 .option-inner-rl{
    background-color: #eca82c;
    border: 3px solid #eca82c;
}
.option-rl.option-rl-4 .option-inner-rl{
    background-color: #d4546a;
    border: 3px solid #d4546a;
}




/*Media query goes here */

@media only screen and (max-width: 900px) {

    .question-container-lr{
        transform: translate(-50%, -100%)
    }

    .resizeable-rl{
        font-size: 2em;
    }

    .meme__image {
        min-width: 70%;
        max-width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .resizeable-rl{
        font-size: 1.5em;
    }


    /* .options-container-rl{
        transform: translate(-50%,-10%);
    } */

}