.creategroup__page{
	background-color: #F9F9F9;
	height: 45vw;
}
.creategroup_firstrow{
	display: flex;
    justify-content: space-around;
    padding: 2% 15% 2% 2%;
    margin-left: 2%;
    width: 95%;
    border-bottom: 2px solid #dcdcdc;
}
.create_group_error_span{
	display: block;
    text-align: center;
    color: red;
}
.group_name{
	width: 350px;
    height: 37px;
    border: none !important;
    margin-top: 1% !important;
}
.group_name_wrapper .MuiOutlinedInput-input {
	padding: 9.5px 14px !important;
}
.group_name_wrapper .MuiOutlinedInput-root{
	border-radius: 10px !important;
}
.group_name_wrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgb(0 0 0 / 18%) !important;
}
.group_name_wrapper .MuiInputLabel-outlined {
    transform: translate(14px, 12px) scale(1);
}
.custom_multiselect_wrapper .MuiFormLabel-root{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}
.group_name_wrapper .MuiFormLabel-root{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}
.button_wrapper{
	position: absolute;
    top: 85%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.custom_button{
	font-size: 0.9rem;
    padding: 3% 15%;
    border: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none !important;
}
.custom_button:hover{
	transform: translateY(-2px);
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.addgroup_next_button{
	color: white;
	background-color: #FF6B6B;
}
.addgroup_back_button{
	color: white;
	background-color: #FF6B6B;
}
.create_group_branch_wrapper .MuiSelect-icon{
	color: #FF6B6B !important;
}
.create_group_branch_wrapper .MuiInputLabel-outlined{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}
.create_group_branch_wrapper .MuiFormControl-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
	border: rgba(0, 0, 0, 0.23) !important;
	border-radius: 10px !important;
	outline: 1px solid #d4cbcb;
}
.create_group_select_all_wrapper{
	color: #014B7E;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: -2%;
}
.create_group_select_all_checkbox{
	transform: scale(1.5);
	margin-right: 1%;
}
