.studentStrenghtBody {
  background-color: #f9f9f9;
  margin-bottom: 10px !important;
  .signatureNavDiv {
    .SignatureNavigationLinks {
      color: #014b7e;
      font-weight: bold;
      font-size: 20px;
      margin: 1px 10px !important;
      outline: none !important;
      background-color: #f9f9f9 !important;
      border: none !important;
      cursor: pointer;
    }
    .SignatureUploadNavArrow {
      color: #ff6b6b;
      font-weight: bold;
      font-size: 30px;
    }
  }
}
.studentStrenghtBody1 {
  padding: 20px 40px !important;
}
.studentStrengthFilterDiv {
  padding: 20px 40px !important;
}
.studentStrenghtDivider {
  margin: 30px 0px !important;
}
.studentStrenghtFilterButton {
  // font-size: 11px !important;
  border-radius: 8x !important;
}
.studentStrenghtDownloadButton {
  // font-size: 10px !important;
  border-radius: 8x !important;
  color: #014b7e !important;
  border-color: #ff6b6b !important;
  border: 1px solid #ff6b6b !important;
  background-color: white !important;
}
.totalbold {
  font-size: 20px !important;
  font-weight: bold !important;
}

.totalbold1 {
  font-size: 20px !important;
}
.totalbold2 {
  font-size: 25px !important;
  font-weight: bold !important;
}
.totalboldspace {
  margin-left: 30px !important;
  // font-size: 20px !important;
  font-weight: bold !important;
}

.totalStudentStrenghtMainDiv {
  width: 84% !important;

  border-radius: 10px !important;
  border: 1px solid #014b7e;
  border-color: #014b7e;
  opacity: 1;
}

.totalStudentStrenghtMainDivcopy {
  width: 100% !important;

  border-radius: 10px !important;
  border: 1px solid #014b7e;
  border-color: #014b7e;
  opacity: 1;
}
.totalStudentStrenghtSubDiv1 {
  padding: 2px 5px !important;
  color: white !important;
  border-radius: 8px 0px 0px 8px !important;
  background-color: #014b7e !important;
}
.totalStudentStrenghtSubDiv2 {
  padding: 2px 5px !important;
  border-radius: 8px 0px 0px 8px !important;
}
.totalStudentSubSubDiv1 {
  padding: 2px 5px !important;
}
.totalStudentStrenghtLabel {
  font-size: 15px !important;
  font-family: Raleway;
}
.totalStudentStrenghtLabel1 {
  color: #009ce1;
  font-size: 15px !important;
  font-family: Raleway;
  font-weight: bold !important;
}
.totalStudentStrenghtLabel2 {
  color: #9d9d9d;
  font-size: 15px !important;
  font-family: Raleway;
  font-weight: bold !important;
}
.totalStudentStrenghtCardLabel {
  color: #014b7e;
  font-size: 15px;
  font-weight: bold !important;
  font-family: Raleway;
}
.totalStudentStrenghtCardLabel1 {
  color: #00a1a7;
  font-size: 15px;
  font-family: Raleway;
}
.studentStrengthCardMainDivInActive {
  border-radius: 10px;
  padding: 10px 20px !important;
  border: 1px solid #e2e2e2;
  background-color: white;
  box-shadow: 0px 0px 4px #00000029;
}

.studentStrengthCardMainDivActive {
  border-radius: 10px;
  padding: 10px 20px !important;
  border: 1px solid #e2e2e2;
  background-color: #fceeee;
  box-shadow: 0px 0px 4px #00000029;
  width: 100% !important;
}
.totalStudentStrenghtCardSubLabel {
  color: #042955 !important;
  font-size: 25px !important;
  margin: 0 !important;
}
.totalStudentStrenghtCardSubLabel1 {
  color: #009f10;
  font-size: 15px;
}
.totalStudentMainCard {
  padding: 1px 20px !important;
}

.totalStudentSubCard {
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  opacity: 1;
}
.totalStudentSubSubCard1 {
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 9px 9px 0px 0px;
  opacity: 1;
  background-color: #fceeee;
  margin-bottom: 10px !important;
}
.totalStudentSubcard1Child {
  padding: 10px 20px 20px 20px !important;
}
.studentStrenghtBody2 {
  padding: 20px 10px !important;
}
.studentStrenghtBody3 {
  padding: 20px 10px !important;
  margin-left: 17px !important;
  width: 100% !important;
}
