/* .carousel {
  width: 500px;
}
::-webkit-scrollbar {
  display: none;
}

.track {
  background-color: #efefef;
  overflow: auto;
  white-space: nowrap;
  margin: 10px;
}

.certi {
  width: 130px;
  height: 100px;
  text-align: center;
  background: #349ceb;
  margin: 0px 10px;
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 40px 20px;
}
.itembckground {
  background-color: #349ceb;
  height: 30px;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin: 30px 15px;
} */
