.top-performer-card{
	margin-top: 20px;
	box-shadow: none !important;
	border: 1px solid #ff6b6b;
	position: relative !important;
	color: #014b7e !important;
	border-radius: 20px !important;
	padding: 5% 5% 10%;
}
.top-performer-header{
	padding: 0% 0% 5%;
}
.top-performer-tag{
	color: #014b7e;
    font-size: 1rem;
    font-weight: 600;
}
.top-performer-row{
	display: flex;
}
.top-performer-subject{
	font-size: 1rem;
    width: 80%;
	border-bottom: 1px solid  #FFC4C4;
	margin-bottom: 2%;
	position: relative;
}
.top-performer-score{
	float: right;
    font-size: 1.4rem;
    margin-bottom: -2%;
}
.top-performer-student-name{
	position: absolute;
    bottom: 0;
}
.top-performer-row-index{
	margin: auto 2%;
}
.top-performer-row{
	margin: 3% 0% !important;
}
.top_performer_rating_subject_name{
	border-bottom: 1px solid #FFC4C4;
    color: #014b7e;
    display: inline-table;
	width: 60%;
	margin: 2% 2%;
	text-transform: capitalize;
    vertical-align: baseline;
}
.top_performer_icon{
	cursor: pointer;
	position: relative;
}
.top_performer_icon .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 135%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .top_performer_icon .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color:  transparent transparent #555 transparent ;
  }
  
  .top_performer_icon:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
  .student_details_info{
	  margin-left: 5%;
  }
