.leaderboard__main__container{
    width: 100%;
    border-radius: 10px; 
}

.leader__info__container{
    height: 120px;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(rgba(126,213,111,0.8), rgba(40,180,133,0.8));
    position: relative;
    padding-top: 40px;
}

.leader__info__header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.syntax__white__leaderboard{
    color: white;
}

.avatar__leaderboard__header{
    height: 60px !important;
    width: 60px !important;
    margin-top: -30px;
}

.leaders__container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leader__list__container::-webkit-scrollbar {
    display: none;
}

.leader__list__container{
    height: 200px;
    overflow: scroll; 
}

.avatar__leaderboard__list {
    width: 30px !important;
    height: 30px !important;
}

.avatar__leaderboard__container{
    display: flex;
    justify-content: flex-start;
    /* width: 200px; */
}

.leader__name{
    font-size: 13px !important;
    margin-left: 10px !important;
    margin-top: 5px !important; 
}

.heading__leader__list{
    color: grey;
}

.leaderboard__search--container{
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to bottom right,rgba(126,213,111,0.8), rgba(40,180,133,0.8));
}

.leaderboard__search--box{
    border-radius: 3px;
    padding: 10px;
    border: 1px solid rgb(170, 170, 170);
    margin: 0 auto;
}