.table-filter{
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
}


.filter-container-tab button {
  margin-right: 0.5rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: rgb(65, 98, 168);
  border-radius: 5px;
  border: 2px solid rgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 14px;
  /* margin: 0.5rem 0rem; */


}
.filter-container-tab span {
  margin-right: 2rem;
  min-width: 5rem;

  padding: inherit;
  border: none;
  /* background: white; */
  color: grey;
  font-weight: bold;
  /* margin-top: 2rem; */
  font-size: 14px;

}

button.active {
    background: rgb(65, 98, 168);
    color: white;
}


.button-design {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}

.card-media-design {
  height: 240px !important;
  width:100%;
  object-fit:cover;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}

/* .card-media-design img {
  transition: transform .5s ease;
} */

/* [3] Finally, transforming the image when container gets hovered */
.card-media-design:hover {
  transform: scale(1.5);
}


/* .card-media-design :hover {
   transform: scale(1.5);
} */

.dummy-background {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.dummy-background:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease-out;
}

.image-blog{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 155px;
  /* border: 1px solid red; */
}
.image-blog img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;
  border-radius: 10px;
}



.body {
    /* border:1px solid black; */
    border-radius: 20px;
    display: grid;
    height: 90vh;
    width: 100%;
    /* place-items: center; */
    display: flex;
    /* justify-content: center; */
    /* justify-content: baseline; */
    /* align-items: center; */
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.wrapper .button {
    display: inline-block;
    height: 85px;
    width: 85px;
    float: left;
    margin: 0 30px;
    overflow: hidden;
    /* background: red; */
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;



}

.wrapper .button .icon {
    display: inline-block;
    height: 85px;
    width: 85px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 80px;
    transition: all 0.3s ease-out;

}

.button-label {
    border: 1px solid black;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
    color: #fff;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #E1306C;
    color: #fff;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #E1306C;
}



.wrapper .button .icon i {
    font-size: 40px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button:hover {
    width: 260px;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}

.card-design {
    transition: all 0.3s ease-out;
    /* width: 21vw; */
    border-radius: 15px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


}

.card-design:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease-out;

}

@media screen and (max-width: 1300px) {
    .card-design {
        /* width: calc(100% + 10px); */
        /* width: 24vw; */
    }
}

.blog-redirect-header{
  width: 60%;
  height: 155px;

}

.blog-redirect-card {
    /* height: 15vh; */
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;

}

@media screen and (max-width: 1500px) {
    .blog-redirect-card {
        height: 100%;
        width: 100%;
    }
}


.post-redirect-card {
    height: 16jvh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;

}






  .carousel-global{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#333333;
    max-height: 80vh;

  }
  .carousel-global-inner{
   height: inherit;
   display: flex;
   align-items: center;

  }

  .carousel-status{
    display: none;
  }

  .carousel {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  .carousel-global .slide {
    opacity: 1 !important;
  }

  .carousel .slider-wrapper {
     /* background-color: #333333; */
     /* border: 2px solid rgb(228, 224, 20); */
     max-height: 64vh;
  }

  .carousel .slide {
    /* background-color: #333333; */
    /* height: 80vh; */
    margin: auto;
  }

  .carousel .slide-wrapper {
    width: 50%;
  }
  .carousel .thumb{
    width: 5%;
    height: 50px;
  }

  .carousel .slide img{
    max-height: 100%;
    /* width: fit-content; */
  }

  .image{
    margin: 0 auto;
    max-height: 65vh;
    width: auto;
  }

  @media only screen and (max-width:1200px) {
    .carousel{
      height: 90vh;
    }
    .carousel .slide img {
      margin: 10vh auto;
      width: 100vw;
    }
    
  }

  @media only screen and (max-width:900px) {
    .carousel{
      height: 80vh;
    }
  }

  @media only screen and (max-width:750px) {
    .carousel{
      height: 70vh;
    }
  }

  @media only screen and (max-width:650px) {
    .carousel{
      height: 60vh;
    }    
  }


  @media only screen and (max-width:500px) {
    .carousel{
      height: 70vh;
    }    
  }


  .post-description {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    /* border: 1px solid;  */
  }
  .profile-branch-format{
    display: contents;
  }

  .post-avatar {
    /* border: 1px solid; */
    padding: 0.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post-profile-description{
    /* border: 1px solid; */
    padding: 0px;
  }

  .post-description-inner{
    width: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
    /* border: 1px solid saddlebrown; */
    color: gray;
    font-size: 15px;
    height: 70%;
  }

  .public-speaking-content {
    max-height: 80vh;
    overflow-y: scroll;
  }

  .comment-header{
    /* border-bottom: 1px solid #8080807a; */
    background: #e1e4e9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0.5rem 0;
    align-items: center;
    border-radius: 10px;
  }



