@import '../../assets/styles/variables';
.common-table {
    width: 100%;
    .table-header-row {
      background-color: '#FFFFFF';
      tr {
        th {
          position: sticky;
          top: 0;
          margin: '10px 0';
          &:not(:last-child) {
            &:after {
              content: '';
              // background-color: orange !important ;
              width: 2px;
              height: 60%;
              position: absolute;
              border-radius: 5px;
              right: 0;
              transform: translateY(-10%);
            }
          }
        }
      }
    }
  }
  .tox-tinymce{
    height:372px !important;
  }
  .ebookscroll::-webkit-scrollbar {
    width: 8px !important ;
    height: 10px !important;
    background-color: rgb(82, 50, 50) !important;
  }
  .A4-template-cover{
    position: relative;
    text-align: center;
    width: auto;
    min-height: 683px;
  }
  .A4-template{
    width: 210mm;
       min-height: 297mm;
       margin: 52mm;
       background: white;
       border: 1px solid black;
  }

  .question-visual{
    // border: 1px solid red;
    padding: 0.5rem 0rem;
  }

  .delete-visual-icon{
    display: flex;
    align-items: center;
  }
  .padding-style{
    padding: 0.5rem 0rem;
  }
  // @media print {
  //   body, page {
  //     margin: 0;
  //     box-shadow: 0;
  //   }
  // }