.horzontalRule { 
    display: flex; 
    flex-direction: row; 
} 
  
.horzontalRule:before, 
.horzontalRule:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 1.5px solid rgb(195,207,217); 
    margin: auto; 
} 