/* .homework_table_wrapper .message_log_table tr th:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  }
  .homework_table_wrapper .message_log_table tr td:not(:last-child):after {
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff6b6b;
  } */
.homework_block_wrapper {
  border: 1px solid #DBDBDB !important;
  border-radius: 15px !important;
}

.message_log_white_wrapper .date-container fieldset {
  border-radius: 10px;
}

.message_log_white_wrapper .date-container input {
  font-size: 15px;
  color: #014B7E !important;
}

.date-container label {
  color: #014B7E !important;
  font-weight: 600;
}

.date-container .MuiPickersDateRangePickerInput-root .MuiFormHelperText-marginDense {
  display: none;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .date-container {
  width: 95%;
  margin: 20px auto;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table_wrapper {
  border: 1px solid #ff6b6b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table_wrapper .MuiTableCell-root:not(:last-child) {
  border-right: 1px solid #ff6b6b;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table_wrapper .MuiTableRow-root:not(:last-child) .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table_wrapper .MuiTableHead-root .MuiTableCell-root {
  border-bottom: 1px solid #ff6b6b !important;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .selected {
  background-color: antiquewhite;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table {
  margin-top: 0% !important;
  border-radius: 10px !important;
  overflow-y: auto;
  max-height: 10000px !important;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_table_wrapper {
  border-radius: 10px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_header {
  text-transform: capitalize;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_block {
  color: #014b7e;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .message_log_wrapper-coordinator.teacher-homework-coordinator .homework_block {
    display: none;
  }
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .homework_block_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  padding-bottom: 1%;
  margin: 20px 0;
  border: 1px solid #dbdbdb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .message_log_wrapper-coordinator.teacher-homework-coordinator .homework_block_wrapper {
    margin-bottom: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0;
  }
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .icon-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  color: #014b7e;
}

@media screen and (max-width: 768px) {
  .message_log_wrapper-coordinator.teacher-homework-coordinator .icon-desc-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .message_log_wrapper-coordinator.teacher-homework-coordinator .icon-desc-container img {
    margin-bottom: 5px;
  }
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .MuiBadge-root {
  vertical-align: unset;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .MuiBadge-root .MuiBadge-badge {
  color: #ffffff;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .MuiBadge-root .MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle {
  -webkit-transform: scale(1) translate(25%, -25%);
          transform: scale(1) translate(25%, -25%);
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .date-picker-container {
  margin: 0 1rem;
}

.message_log_wrapper-coordinator.teacher-homework-coordinator .date-picker-container .MuiSvgIcon-root {
  fill: #ff6b6b;
}

.add-homework-container-coordinator {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-homework-container-coordinator .header-text {
  color: #014b7e;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .add-homework-container-coordinator .header-text {
    font-size: 0.85rem;
  }
}

.add-homework-container-coordinator .add-homework-inner-container {
  padding: 20px 2.5%;
  background: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container {
  margin: 0 0 20px;
}

.add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container .nav-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container .nav-cards-container .nav-card {
  width: 50%;
  border: 1px solid #ff6b6b;
  height: 100%;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
}

.add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container .nav-cards-container .nav-card:first-child {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container .nav-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-homework-container-coordinator .add-homework-inner-container .add-homework-title-container .nav-cards-container .nav-card {
    width: 300px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 0 20px;
  }
}

.add-homework-container-coordinator .form-field {
  width: 30%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .add-homework-container-coordinator .form-field {
    width: 100%;
  }
}

.add-homework-container-coordinator .finish-btn-container {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-homework-container-coordinator .finish-btn-container .btn {
  width: 100%;
}

.selected-col {
  background-color: #fededf;
}

.no-wrap-col {
  white-space: nowrap;
}

.no-wrap-col div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-wrap-col div .day-icon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-weight: 600;
  border: 1px solid #014b7e;
}

.view-homework-container-coordinator .evaluate-answer-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .evaluate-answer-btn-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.view-homework-container-coordinator .homework_type_item {
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  color: #014b7e;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.view-homework-container-coordinator .homework_type_item div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-homework-container-coordinator .homework_block_questionwise_check {
  margin-left: 50%;
  color: #014b7e;
  font-size: 1rem;
}

.view-homework-container-coordinator .homework-question-container-coordinator {
  margin: 20px auto;
  width: 95%;
}

.view-homework-container-coordinator .homework-question-container-coordinator:nth-child(1) {
  margin-top: 2rem;
}

.view-homework-container-coordinator .homework-question-container-coordinator .comments-remarks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-homework-container-coordinator .homework-question-container-coordinator .comments-remarks-container .item {
  width: calc(50% - 0.5rem);
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .homework-question-container-coordinator .comments-remarks-container .item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.view-homework-container-coordinator .homework-question-container-coordinator .comments-remarks-container .item.comment {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .homework-question-container-coordinator .comments-remarks-container .item.comment {
    margin-right: 0;
  }
}

.view-homework-container-coordinator .homework-question-container-coordinator .evaluate-answer-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .homework-question-container-coordinator .evaluate-answer-btn-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.view-homework-container-coordinator .homework-question {
  border-bottom: 1px solid #ff6b6b;
  width: 80%;
  color: #014b7e;
  position: relative;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .homework-question {
    width: 100%;
    text-align: left;
  }
}

.view-homework-container-coordinator .homework_submit_tag {
  font-size: 1rem;
}

.view-homework-container-coordinator .question {
  font-size: 1rem;
  padding: 1.5rem 0 0.5rem;
}

.view-homework-container-coordinator .homework_submit_questions_attachment {
  width: 30% !important;
}

.view-homework-container-coordinator .create_group_filter_container {
  padding: 20px 2.5%;
  margin: 0 auto;
}

.view-homework-container-coordinator .non_selected_homework_type_item {
  cursor: pointer;
}

.view-homework-container-coordinator .homework_block {
  text-transform: capitalize;
}

.view-homework-container-coordinator .homework_submit_wrapper {
  border: 1px solid #ff6b6b;
  border-radius: 10px;
}

.view-homework-container-coordinator .homework_submit_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: 2%;
  margin-left: 65%;
}

.view-homework-container-coordinator .homework_submit_button_cancel {
  margin-right: 20px !important;
}

.view-homework-container-coordinator .overall-evaluation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-homework-container-coordinator .overall-evaluation-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-homework-container-coordinator .overall-evaluation-container .input-container .remark {
  width: 70%;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .input-container .remark {
    width: 100%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .input-container .score {
    width: 100%;
    margin: 0 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .input-container {
    width: 100%;
  }
}

.view-homework-container-coordinator .overall-evaluation-container .btn-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .btn-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.view-homework-container-coordinator .overall-evaluation-container .btn-container .cancel-btn {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .btn-container .cancel-btn {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .view-homework-container-coordinator .overall-evaluation-container .btn-container .done-btn {
    width: 100%;
    margin: 1rem 0;
  }
}

.add-homework-container-coordinator .attachments-container.with-margin,
.view-homework-container-coordinator .attachments-container.with-margin {
  width: 95%;
  margin: 20px auto;
}

.add-homework-container-coordinator .attachments-container .header,
.view-homework-container-coordinator .attachments-container .header {
  margin: 1rem 0;
}

.add-homework-container-coordinator .attachments-container .attachments-list-outer-container,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-homework-container-coordinator .attachments-container .attachments-list-outer-container .prev-btn,
.add-homework-container-coordinator .attachments-container .attachments-list-outer-container .next-btn,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container .prev-btn,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container .next-btn {
  width: 45px;
}

.add-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list {
  scroll-behavior: smooth;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: calc(100% - 90px);
}

.add-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list::-webkit-scrollbar,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list::-webkit-scrollbar {
  display: none;
}

.add-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list .attachment,
.view-homework-container-coordinator .attachments-container .attachments-list-outer-container .attachments-list .attachment {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
}

.add-homework-container-coordinator .file-card-container-coordinator,
.view-homework-container-coordinator .file-card-container-coordinator {
  position: relative;
  height: 100%;
}

.add-homework-container-coordinator .file-card-container-coordinator:hover .overlay-container,
.view-homework-container-coordinator .file-card-container-coordinator:hover .overlay-container {
  opacity: 1;
}

.add-homework-container-coordinator .file-card-container-coordinator .overlay-container,
.view-homework-container-coordinator .file-card-container-coordinator .overlay-container {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.add-homework-container-coordinator .file-card-container-coordinator .overlay-container .overlay,
.view-homework-container-coordinator .file-card-container-coordinator .overlay-container .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-homework-container-coordinator .file-card-container-coordinator .overlay-container .overlay .action-buttons,
.view-homework-container-coordinator .file-card-container-coordinator .overlay-container .overlay .action-buttons {
  margin: auto 0;
}

/**common***/
.nav-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-cards-container .nav-card {
  width: 50%;
  border: 1px solid #ff6b6b;
  height: 100%;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
}

.nav-cards-container .nav-card:first-child {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .nav-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-cards-container .nav-card {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 0 20px;
  }
}

.header-text {
  color: #014b7e;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .header-text {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  .date-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.bulk_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download_button {
  margin-left: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.vertical_divider {
  height: 40px;
  width: 1px;
  margin: 15px 25px;
  background-color: #0000001F;
}

.homework-table-mobile-view {
  color: #014b7e;
}

.homework-table-mobile-view .day-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #014b7e;
  border-radius: 25px;
  margin-right: 1rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_filter_cord_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.message_log_wrapper-coordinator .create_group_filter_container .homework_block_wrapper .MuiGrid-grid-xs-12 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
/*# sourceMappingURL=styles.css.map */