.th-calendar.react-calendar {
  width: 100%;
  background-color: #ffffff !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.th-calendar .react-calendar__month-view__weekdays__weekday abbr[title] {
  text-decoration: none !important;
  cursor: pointer;
  color: #4e5879;
}

.th-calendar .react-calendar__navigation__label__labelText--from {
  font-size: 14px;
  font-weight: 400 !important;
  color: #ffffff !important;
  background-color:   #89B4E2!important;
}
.th-calendar .react-calendar__navigation__arrow {
  color: #ffffff !important;
  font-weight: bold !important;
  background-color: #89B4E2 !important;
}

.th-calendar .react-calendar__navigation {
  display: flex;
  justify-content: center !important;
  background-color: #89B4E2 !important;
  border-radius: 5px;
}
.th-calendar .react-calendar__viewContainer{
  background-color: #FCFCFD;
}
.th-calendar .react-calendar__navigation__label {
  flex-grow: 0.3 !important;
  background-color: #89B4E2 !important;
  pointer-events: none !important;
}

.th-calendar .react-calendar__tile {
  border-radius: 6px !important;
  height: 45px !important;
  font-size: 14px;
}

.listholiday .ant-card-head {
  padding: 0px !important;
}
.listholiday .ant-card-body {
  padding: 0px !important;
}
.th-calendar .react-calendar__month-view__days {
  height: 228px;
  overflow-y: auto;
}

.th-calendar .react-calendar__year-view__months {
  height: 254px;
}
.calendar-card{
  width: 50% !important;
}
.event_holiday .ant-card-head-title {
  padding: 10px 0;
  font-size: 14px;
}

.event_holidaymod .ant-modal-header{
  background-color: #EDECF8;
}

.event_holidaymod .ant-modal-header{
  background-color: #EDECF8;
}
.th-calendar .holidayDate{
  background: #00b8df;
    border-radius: 25px !important;
}


.th-calendar .react-calendar__tile--active{
  background: none !important;
  /* color: inherit !important; */
}
.th-calendar .react-calendar__tile--active:hover{
  background: none !important;
  /* color: inherit !important; */
}

.th-calendar .bothEvent{
  border: 1px solid #d700dd;
  color: #00b8df
}

.th-calendar .th-weekendcal{
  color: #d10000 !important;
}
.th-calendar .th-weekdaycal{
  color: black !important;
}
