#eventContainer{
    /* 
    height: fit-content !important; */
    // height: 495px !important ;
    
    overflow:auto;
    overflow-x:hidden;
    #eventData{
        margin: 0;
       }
    .noEventImg{
        height: 300px;
        margin-bottom: 100px;
    }
    .dateTimeEvent{
        display: flex;
        justify-content: space-between;
        .timeEvent{
            display: flex;
            justify-content: space-evenly;
            width: 75px;
        }
        .dateEvent{
            display: flex;
    justify-content: space-evenly;
    width: 115px;
        }
    }
    .eventPara{
        font-size: 15px;
    }
    #updated{
        margin-left: 23px;
    }
}
.text{
    text-decoration: none;
    size: 123rem;
    
}
