.calender-container{
border-radius: 10px;
    .rdrCalendarWrapper{
        border-radius: 30px;
        width: 100%;
    }
    .rdrMonthAndYearWrapper{
        padding-top: 0px;
    }
    .rdrMonth{
        width: 100%;
    }
    .rdrDays{
        height: 230px;
    }
    .rdrDateDisplayWrapper{
        display: none;
    }
    .rdrInRange{
        color: #FFCBCB !important;
    }
    .rdrDayHovered:hover{
        outline: none !important;
        background-color: #FFFF !important;

    }
    .rdrDefinedRangesWrapper{
        display: none !important;
    }
    button:hover {
        text-decoration: none !important;
        outline: none !important;
    }
    .rdrDayNumber {
        // color: #014B7E !important;
    }&:hover{
        background-color: #FFFF !important;
    }
    .rdrDayPassive{
        color:#BEBEBE !important;
    }
    .weeklyCalendar{
        .rdrMonthName{
            display: none;
        }
        .rdrDateRangePickerWrapper{
            width: 100%;
        }
    }
}



.afterDivide{
    .ant-segmented-item{
        margin-bottom: 0px !important;
    }
}
.cardsevents{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 10px;
}

.titleCardHoliday{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.dateAreaCard{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
