.calender-container{
//     box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.50);
// -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
// -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
border-radius: 10px;
    .rdrCalendarWrapper{
        border-radius: 30px;
        width: 100%;
    }
    .rdrMonthAndYearWrapper{
        padding-top: 0px;
    }
    .rdrMonth{
        width: 100%;
    }
    .rdrDays{
        height: 230px;
    }
// background: transparent  0% 0% no-repeat padding-box;
// border: 1px solid #8C8C8C;
// border-radius: 10px;
// opacity: 1;
    .rdrDateDisplayWrapper{
        display: none;
    }
    .rdrStartEdge, .rdrEndEdge{
        color: #FF6B6B !important;
    }
    .rdrInRange{
        color: #FFCBCB !important;
    }
    .rdrDayHovered:hover{
        outline: none !important;
        background-color: #FFFF !important;

    }
    .rdrDefinedRangesWrapper{
        display: none !important;
    }
    button:hover {
        text-decoration: none !important;
        outline: none !important;
    }
    .rdrDayNumber {
        // color: #014B7E !important;
    }&:hover{
        background-color: #FFFF !important;
    }
    .rdrDayPassive{
        color:#BEBEBE !important;
    }
    .weeklyCalendar{
        .rdrMonthName{
            display: none;
        }
        .rdrDateRangePickerWrapper{
            width: 100%;
        }
    }
}