.image {
  width: 80px;
  height: 80px;
}

.school-name {
  font-size: 20px;
  font-weight: 500;
}

.bg-custom {
  background-color: #d9d9d9;
}

.border-bottom-custom {
  border-bottom: 2px solid #000;
}

.title-cutom {
  font-size: 18px;
}

.section-mark {
  right: 0;
}

.question-custom {
  font-weight: 600;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.option-image-container {
  // margin-top: 10px; /* Adjust margin as needed */

  img {
    object-fit: contain;
  }
}

.generated-question-div {
  img {
    padding: 10px 0px !important;
    height: 350px !important;
    width: 400px !important;
    object-fit: contain;
  }
  p {
    // margin-right: 10px !important;
    text-align: justify;
    width: 100% !important;
  }
}
.th-marks-info {
  width: 200px !important;
}

.last-page {
  page-break-after: avoid;
}

@page {
  margin: 10mm;
  margin-bottom: 25mm;
  margin-top: 20mm;
  // counter-increment: page;
}

.check-break {
  page-break-inside: avoid;
}

.print-container {
  page-break-after: avoid;
  height: auto;
}

@media print {
  html,
  body {
    height: 99%;
    width: 100%;
  }
  .print-container {
    page-break-after: avoid;
    height: auto;
  }
}

.force-page-break {
  page-break-before: always;
}
