@media screen and (min-width: 768px) {
  .th-left-border {
    border-left: 3px solid #e4e4e6;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.assessed-mark {
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.assessed-mark.assessed {
  background-color: #28a745;
}
.assessed-mark.under-assessed {
  background-color: #dc3545;
}

.th-popover .ant-popover-inner {
  border-radius: 8px !important;
}

.th-large-checkbox .ant-checkbox-inner {
  height: 18px !important;
  width: 18px !important;
  border-radius: 4px !important;
}

.th-large-checkbox span {
  font-size: 18px !important;
}

.download-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #1b4ccb;
  position: relative;
}
.notebook-list-item {
  display: flex;
  border-bottom: 1px solid #1b4ccb;
  margin-bottom: 1rem;
}
.notebook-list-item:last-child {
  margin-bottom: 0 !important;
}
.download-icon img {
  /* position: absolute;
  transform: translate(40%, 40%); */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  transform: translate(0%, 0%);
  bottom: 0;
  left: 0;
}
.notebook-content {
  width: 150px;
}
.notebook-action {
  display: flex;
  margin-left: auto;
}
.notebook-action img {
  width: 65%;
  height: auto;
  cursor: pointer;
}

.attachment-right-box {
  box-shadow: 0.2rem 0.2rem 0.3rem 0px rgba(0, 0, 0, 0.175) !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.attachment-left-box {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bookmarked-icon {
  position: absolute;
  top: 0;
}

.attachment-action-icon{
    width: 24px;
    height: 24px;
}