.greyShade{
    background-color: #F3F3F3
}

.blueHeader{
    background-color: rgb(148, 195, 240);
    color: white;
    height: 35px;
}

.sectionOne{
    background-color: #EEFDF9
}

.sectionTwo{
    background-color: #DCFAF3
}

.sectionThree{
    background-color: #B9F4E7
}

.sectionFour{
    background-color: #85ECD5
}

.correctAns{
    background-color: #B8E986
}

.wrongAns{
    background-color: #F7D0D0
}

.analysisBetter{
    background-color: #EDFAE0
}

.analysisLesser{
    background-color: #FDEFEF
}

.resultFont{
    font-size: 19px
}

.totalFont{
    font-size: 18px
}