.online__class--container {
    padding: 15px;
}

.online__class--form-label {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.online__class--grid-container {
    margin-bottom: 20px !important;
}

.online__class--padding-20 {
    padding-top: 30px !important;
}

.online__class--select {
    background-color: whitesmoke;
    width: 300px;
    padding: 9px;
    border-radius: 5px;
    margin-left: 40px;
}
.extendTableRowHeight {
    min-height: 90px !important;
    height: auto !important;
}

.clear__files:hover{
cursor: pointer;
}

.clear__files{
    z-index: 1000 !important;
}

.color__indicator--container > div{
    display: inline-block !important;
    padding: 10px 20px 20px 20px;
}

.color__indicator--green {
    width: 40px;
    height: 20px;
    background:linear-gradient(#9DFFBE, #fff);
    display: inline-block;
    margin: 0px 10px -5px 0px;
    border: 1px solid #9DFFBE; 
}

.online__class--disabled-link {
    pointer-events: none;
}

.online__class--enabled-link {
    pointer-events: all;
}