@import '../../../../assets/styles/variables';

.secondary-divider {
  background-color: $secondary-color;
}

.vertical-divider {
  margin: 0 10px;
  height: 100%;
  width: 1px;
  background-color: #dbdbdb;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.question-view-container {
  // color: $secondary-color;
  height: max-content;
  .comprehension-question-header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: $secondary-color;
    font-size: 1.2rem;
    background: linear-gradient(
      90deg,
      rgba(246, 210, 255, 1) 20%,
      rgba(254, 216, 217, 1) 80%
    );
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
  }

  .matrix-container {
    .matrix-columns {
      border: 1px solid $secondary-color;
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      .matrix-column {
        width: 45%;
        display: flex;
        padding: 10px;
        background-color: #def2ff;
        margin: 0.5rem;
        border-radius: 10px;
      }
    }
  }

  .true-false-container {
    .true-false-option {
      width: 30%;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }
}
