.multipleChoiceContainer {
  width: 95%;
  margin: 20px auto 0 auto;
  border: 1px solid #ff6b6b;
  border-radius: 10px;
  padding: 20px;
}

.compMultipleChoiceContainer {
  width: 95%;
  margin: 20px auto 0 auto;
  border: 1px solid #014b7e;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  /* box-shadow: 0px 0px 5px 1px #ff6b6b; */
  background-image: linear-gradient(
    -45deg,
    rgba(1, 75, 126, 0.1),
    rgba(255, 107, 107, 0.2)
  );
  /* background-image: linear-gradient(45deg, #f6d2ff, #ffd9d9); */
}

.questionHeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #014b7e;
}

.questionHeaderIcon .MuiIconButton-root {
  padding: 0;
}

.questionTag {
  color: #014b7e;
  font-size: 16px;
  font-weight: 600;
}

.questionHeaderIcon {
  cursor: pointer;
  position: relative;
}

.questionHeaderIcon .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #f9f9f9;
  color: #014b7e;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #ff6b6b;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  margin-top: 4px;
  margin-left: -88px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
}

.questionHeaderIcon .tooltiptext > div {
  padding: 5px 10px;
}

.questionHeaderIcon .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 20px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #ff6b6b transparent;
}

.questionHeaderIcon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.answerTag,
.matchingAnswerTag {
  color: #014b7e;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #014b7e;
  margin-bottom: 10px;
}

.questionContainer {
  margin: 20px 0px;
}

.questionContainer .MuiInputBase-input {
  padding: 14px;
}

.attachmentContainer {
  margin-bottom: 20px;
  display: flex;
}

.attachTag {
  color: #014b7e;
  font-size: 16px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
}
.matchingOptionsWrapper {
  border: 1px solid #1f628f;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.matchingOptionsContainer {
  display: flex;
  flex-wrap: wrap;
}

.truefalseOptionsContainer {
  display: flex;
  margin-bottom: 20px;
}

.addAnotherButton.MuiButtonBase-root {
  border: 1px solid #dbdbdb;
  background: white;
  box-shadow: none;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
}

.addAnotherMatchButton.MuiButtonBase-root {
  border: 1px solid #1f628f;
  background: #def2ff;
  box-shadow: none;
  padding: 1.75rem;
  width: 100%;
  margin-top: 10px;
}

.addAnotherMatchingButtonWrapper {
  width: 49%;
}

.addAnotherMatrixButton.MuiButtonBase-root {
  border: 1px solid #1f628f;
  background: #def2ff;
  box-shadow: none;
  padding: 0.5rem;
  width: 100%;
  margin-top: 10px;
}

.addAnotherMatrixButtonWrapper {
  width: 24%;
}

.buttonsAtBottomMCQ {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.questionImageContainer {
  margin-left: 0.85rem;
  display: flex;
}

.questionImageAttachment {
  border-radius: 4px;
  height: 50px;
  width: 75px;
  margin-right: 12px;
  box-shadow: 0px 0px 2px 0.1px #014b7e;
}

.questionImageThumbnailContainer {
  position: relative;
  display: flex;
}

.questionImageRemoveIcon {
  position: absolute;
  top: 4%;
  left: 14%;
}

.questionImageRemoveIcon .MuiIconButton-root {
  opacity: 0.5;
}

.questionImageRemoveIcon .MuiIconButton-root:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.questionDisplay input {
  cursor: initial;
}

.MuiTextField-root.questionDisplay {
  background: white;
  border-radius: 10px;
}

.questionContainer .MuiIconButton-label {
  margin-bottom: -6px;
}

.questionContainer .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #dbdbdb;
}

.descriptiveAnswerEditor {
  margin-top: 20px;
}

.descriptiveAnswerEditor .tox-tbtn:nth-last-child(1) {
  background: white !important;
  padding: 0px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.descriptiveAnswerEditor .tox-toolbar__primary {
  background: none !important;
  margin: 1% 0 -2% 48% !important;
  margin-bottom: 1px !important;
}

.questionCreationTime {
  display: flex;
  flex-basis: 10%;
}

.clockIconContainer {
  margin-right: 7%;
  padding-bottom: 5px;
}

.timeContainer {
  font-size: 16px;
  font-weight: 600;
  color: #014b7e;
  margin-top: 1.5%;
}

@media screen and (max-width: 768px) {
  .questionTag {
    width: 100%;
  }

  .addAnotherMatchingButtonWrapper,
  .addAnotherMatrixButtonWrapper {
    width: 100%;
  }
}
