.th-table-border tr td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    background-color: #fdd6b3;
    padding-left: 8px;
    color: #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}