.report-top-header-description {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 1px;
    border: 1px solid black;
    text-align: left;
  }
}

.report-Personality-traits {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
}
.report-type-details {
  padding: 0px 26px;
}
