.bankContainer {
  width: 100%;
  margin: auto;
  overflow-x: auto;
}
.corporateBank * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.corporateBank{
    margin: 10px;
    min-width: 900px;
}
.corporateBank__header,
.corporateBank__body{
    display: flex;
    justify-content: space-around;
}
.corporateBank__headerSerial,
.corporateBank__bodySerial{
    width: 4%;
    text-align: center;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    /* padding-left: 2px; */
    padding-top: 12px;
}
.corporateBank__headerBranch,
.corporateBank__bodyBranch{
    width: 23%;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    padding-left: 5px;
    padding-top: 12px;
}
.corporateBank__bodyBankList,
.corporateBank__headerBankList {
    width: 73%;

}
.corporateBank__headerBankList,
.corporateBank__bodyBankListItem{
    display: flex;
}
.corporateBank__headerBankName,
.corporateBank__bodyBankName{
    width: 28%;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    padding-left: 5px;
    padding-top: 12px;

}
.corporateBank__headerBankAccount,
.corporateBank__bodyBankAccount{
    width: 32%;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    padding-left: 5px;
    padding-top: 12px;
}
.corporateBank__headerFeeAccount,
.corporateBank__bodyFeeAccount{
    width: 28%;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    padding-left: 5px;
    padding-top: 12px;
}
.corporateBank__headerAction,
.corporateBank__bodyAction{
    width: 12%;
    border: 0.02px solid rgba(100, 100, 100, 0.329);
    padding-left: 5px;
    padding-top: 12px;
}
.corporateBank__bodyAction{
    padding-top: 7px
}
.corporateBank__header{
    height: 45px;
    background-color: #eeeeee65;
}
.corporateBank__bodyBranch,
.corporateBank__bodyBankAccount{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.corporateBank__bodyBankAccount{
    flex-direction: column;
}

/* .corporateBank__bodyBankListItem{
    border-bottom: 1px solid black;
} */
.corporateBank__bodyBankListItem:nth-child(even){
    background-color: #eeeeee65;
}
.corporateBank__activeToggleBtn{
    display: inline-block;
    width: 90%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    border-radius: 5px;
    font-size: 0.6rem;  
}
.btnColorBlue{
    background-color: rgb(106, 190, 117)
}
.btnColorBlue:hover{
    background-color: rgb(64, 160, 77)
}
.btnColorRed{
    background-color: rgb(218, 122, 110)
}
.btnColorRed:hover{
    background-color: rgb(255, 118, 100)
}
.corporateBank__activeToggleBtn:hover{
    cursor: pointer;
}

.modal__heading{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}
.modal__button,
.modal__remainbutton,
.modal__deletebutton{
    display: inline-block;
    position: absolute;
}
.modal__button{
    bottom: 5px;
    right: 2px;
}
.modal__deletebutton{
    bottom: 5px;
    right: 10px;
}
.modal__remainbutton{
    bottom: 5px;
    left: 10px;
}

@media(min-width: 950px){
    .corporateBank__bodyBranchName,
    .corporateBank__bodyBankAccountNo{
        width: 80%;
    }      
    .corporateBank__bodyBranchIcon,
    .corporateBank__bodyBankAccountIcon{
    width: 20%;
    padding-right: 2px;
    }

    .corporateBank__headerSerial,
    .corporateBank__bodySerial{
        padding-left: 5px;
    }
    .corporateBank__bodyBankAccount{
        flex-direction: row;
    }
    .corporateBank__activeToggleBtn{
        font-size: 0.8rem;
    }
}
