.pagination {
    display: inline-flex;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    transition: all 0.5s ease;
  }
.pagination li {
      list-style : none;
  }

.pagination .active {
    background-color: #4CAF50;
    transition: all 0.5s ease;
    color: green;
  }
  .qpaper_lms{
    margin-top: 35px;
    margin-right: 40px;
    width: 134%;
  }
  
.pagination a:hover:not(.active) {background-color:grey;transition: background-color 0.5s ease}
