.custom_multiselect_wrapper .MuiChip-root {
	color: #014B7E !important;
}
.custom_multiselect_wrapper .MuiChip-deleteIcon{
	color: #FF6B6B !important;
}
.custom_multiselect_wrapper .MuiFormControl-root{
	border: 1px solid #d4cbcb !important;
    border-radius: 10px;
}
.custom_multiselect_wrapper .MuiInput-underline:before{
	border: none !important;
}
.custom_multiselect_wrapper .MuiInput-underline:after{
	border: none !important;
}
.custom_multiselect_wrapper .MuiSelect-select:focus{
	background-color: #F9F9F9 !important;
	border-radius: 10px !important;
}
.custom_multiselect_wrapper .MuiSelect-select{
	border-radius: 5px !important;
}
.custom_multiselect_wrapper  label#demo-mutiple-chip-label {
    color: #014B7E;
    background:  #F9F9F9;
    font-size: 1rem;
    font-weight: 600;
}
.custom_multiselect_wrapper  label + .MuiInput-formControl{
    margin-top: 3px !important;
}
.custom_multiselect_wrapper .MuiSelect-icon{
	color: #FF6B6B !important;
}
.custom_multiselect_wrapper .MuiInputLabel-outlined{
	transform: translate(14px, 10px) scale(1) !important;
}
.custom_multiselect_wrapper .MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -6px) scale(0.75) !important;
}
.custom_multiselect_wrapper .MuiPaper-elevation8{
	margin-top: 6%;
}