.xyz .MuiPopover-paper {
  outline: 0;
  overflow: hidden;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
}

.detailCardViewContainer.MuiGrid-item {
  height:17vw;
  max-height: 22vw;
  overflow-y: scroll;
}

.teacherBatchFullViewMainParentDiv {
  top:0%;
  position: sticky;
}
.countdownTimerWrapper {
  margin-right: 10px;
  text-align: right;
}

.countdownTimerContainer {
  display: flex;
  font-size: 1.2rem;
}

.classOverButton.MuiButton-root {
  border-radius: 8px;
  word-wrap: break-word;
  width: 100%;
}

@media screen and (max-width: 768px) {
.detailCardViewContainer.MuiGrid-item {
  height: 50vh;
  max-height:60vh;
}
}