.xyz .MuiPopover-paper {
  outline: 0;
  overflow: hidden;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 16px;
  max-height: calc(100% - 32px);
}

.detailCardViewContainer.MuiGrid-item {
  height:17vw;
  max-height: 22vw;
  overflow-y: scroll;
}

.teacherBatchFullViewMainParentDiv {
  top:0%;
  position: sticky;
}

.takeQuizButton.MuiButton-root {
  color: #FFFFFF;
  background-color: #344ADE;
  border-radius: 8px;
  word-wrap: break-word;
}

.classworkButton.MuiButton-root {
  color: #FFFFFF;
  background-color: #ff6b6b;
  border-radius: 8px;
  word-wrap: break-word;
}

.classOverButton.MuiButton-root {
  border-radius: 8px;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
.detailCardViewContainer.MuiGrid-item {
  height: 50vh;
  max-height:60vh;
}
}