.downloadAllContainer {
  display: flex;
}
.downloadAllIcon {
  margin: 5px;
}

.lessonCompleted {
  font-weight: 600;
  color: #ff6b6b;
}

.resourceBulkDownload {
  font-size: 1.1rem;
  color: #ff6b6b;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px -15px 15px;
}

.MuiIconButton-root.bulkDownloadIconViewMore {
  padding: 0;
}

.completed_button_view_more {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
  padding: 20px;
  width: 40%;
  transition: 300ms;
}

.completed_button_view_more:hover {
  transition: 300ms;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .completed_button_view_more {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    padding: 20px;
    width: 60%;
  }
  .downloadAllContainer {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
