.container_padding {
    overflow: scroll;
    background-color: #eee;
    padding: 0% 20%;
}
.modal__scroll img {
    overflow: scroll;
    height: 80vh;
}
.modal__scroll img {
    overflow: scroll;
}
@media (max-width: 576px) {
    .container_padding {
        padding: 0%;
    }
    .modal__scroll img {
        width: 100%;
        height: auto;
    }
}