.env-name{
    padding-top: 15px;
}

.env-name .catname-df-forum{
    padding-top: 11px;
}

.env-container{
    margin: 0px 0px 0px 40px;
}
.ds-forum{
    // margin-left: 10px !important;
    color: #014B7E !important;
    font-size: 16px;
}

.df-btn-container{
    display: flex;
    margin-bottom: 20px;
    margin-top: 18px;
}

.df-btn-container .df-filter{
    margin-left: 25px;
}
.df-container{
    margin: 5px;
    background-color: #F9F9F9;
}

.df-btn-container .df-filter button{
    background-color : #FF6B6B;
    border-radius: 10px;
    width: 166px;
    font-size: 12px;

}

.df-btn-container .df-clear-all button{
    border-radius: 10px;
    width: 166px;

}
.env-container .df-btn-question-container{
    // margin: 20px;
    margin-left: 20px;
    margin-bottom: 11px;
}

.df-btn-question-container .df-activity button{
    background-color: #FF6B6B;
    border-radius: 10px;
    width: 166px;
    margin-left: 25px;
}


.df-btn-question-container .df-ask button{
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 166px;
    border-style: solid;
    border-color: #FF6B6B;
}
.df-ask{
    border-style: solid;
    border-color: #FF6B6B;
    border-radius: 12px;
}
.df-btn-question-container  .df-ask button{
    font-size: 12px;
}
.df-btn-question-container  .df-ask button img{
   width: 9px;
}

 .df-activity button {
     font-size: 12px;
 }
.df-btn-question-container .df-ask button span{
    color: #FF6B6B;
    border-color: #FF6B6B;
}


.df{
    border: 1px solid #F9F9F9;
    border-left: none;
    border-right: none;
}
body{
    background-color: white !important;
}

.df-btn-container .df-clear-all button{
    color: #8C8C8C !important;
    font-size: 12px;
}

.env-container .catname-df-forum{
    flex-basis: 7.666667%;

}
////////////Enviroment card cssss//////////////////////////////

.env-container.ev-view-card{
    flex-basis: 30.333333% !important;
}
.env-card{
    width: 303px;
    margin-top: 40px;
    // margin-left: 50px;
}
.env-card .view-more-btn{
    // float: right;
    // margin-right: 8px;
    padding-left: 26px;
    padding-right: 26px;
}

.env-card .view-more-btn {
    display: flex;
    justify-content: space-between;
}

.env-card .view-more-btn button span{
    font-size: 12px;
    width: 126px;
    border-radius: 10px;

}

.text-name{
    display: flex;
    // justify-content: space-between;
}

.text-name .covid-19{
    text-align: left;
    color: #042955;
    font-size: 14px;
    font-weight: 600;
   
}

.text-name .online-learning{
    text-align: center;
    color: #042955;
    font-size: 14px;
    font-weight: 600;

}

.text-name .student{ 
    text-align: right;
    color: #042955;
    font-size: 14px;
    font-weight: 600;
}

.user-name-icon{
    display: flex;
    justify-content: space-between;
}



.env-card .user-info:nth-child(odd) {
//   background-color: #FEE4D4 !important;
  height: 40px;
}


.desciption{
    width: 300px;
    height: 155px;
    text-align: justify;
    padding: 18px;
}
.env-card{
    // border: 1px solid #DDEF96;
    border-radius: 10px;
}

.env-card-container .env-card .MuiCardContent-root{
    padding: 0px;

}

.env-card .text-name{
    padding: 4px;
    padding-left: 15px;
}
// .env-card .user-name-icon{
//     padding: 8px;
// }

// .env-card{
//     display: flex !important;
//     justify-content: space-between !important;
// }

.env-card .MuiCardContent-root .user-name-icon{
    margin-left: 10px;
    margin-right: 10px;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
     padding: 0px; 
}

.category-dropdown{
    margin-left: 20px;
}

.env-container .env-card .MuiCard-root{
    overflow: unset;
}

.env-card .MuiDivider-root{
    margin: none !important;
}

.env-card .v-btn{
    width: 100%;
    padding: 5px;
}

///////////////////////////Viewmore css goes here/////////////
.view-more-info{
    padding: 40px
}

.env-container .env-card.MuiDivider-middle{
    // margin: none;
}
.view-more-info .header-view .header-view-text{
    font-size: 25px;
    margin-top: 35px;
    color: #042955 
}

.view-more-info .header-view .user-name-icon-view img{
margin-top: 20px;
width: 32px
}

.header-view{
    display: flex;
}
.text-name-view{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.header-view .textView-header{
    flex-basis: 60%;
    max-width: 63.666667%;

}
.header-view .text-name-view{
    margin-left: 250px;
    font-size: 20px;
    color: #042955;
    font-weight: 600;
}

.user-name-icon-view{
    display: flex;
}

.time-hours{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    color: #042955;
    // margin-top: 12px;
    // font-weight: 600;
}

.header-view .icon-header{
    flex-basis: 60%;
    max-width: 63.666667%;
}

.view-more-date{
    margin-left: 30px;
}

.user-name-icon-view .icon-headers{
    display: flex;
  
}

.user-name-icon-view .user-name-icon-view{
    margin-top: 20px;
   
}


.view-more-container .view-more-info .view-more-desciption .desciption-view{
    font-size: 16px;
    color: #042955;
    text-align: justify;
    margin-top: 10px;
    // border-bottom: 1px solid rgb(226, 226, 226);
}

.view-more-container .like-ans{
    margin-top: 40px;
    max-width: 88.666667%;
    padding: 27px;
    color: #E2E2E2;

}

.like-ans .like-ans-button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.view-more-info{
    background-color: white;
}

.ds-forum{
    background-color: #F9F9F9;
    padding-left: 20px;
}
.view-more button:hover{
background-color: red;
}
.view-cont {
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.pops .MuiPopover-paper{
    // left : 650px ;
    // top: 560px !important;
    background-color: #F9F9F9 !important;
    border: 1px solid #F9AB5D;
    border-radius: 10px;
    width: 358px;
    height: 135px;

}

.pop-overs .MuiPaper-root{
    background-color: #F9F9F9 !important;
    border: 1px solid #F9AB5D;
    border-radius: 10px !important;
    width: 108px !important;
    box-shadow: none;

    // height: 135px;

}
.tool-tip{
    left: 40px !important;
    // top : 0px !important;
    border: 2px solid #FF6B6B !important;
    height: 143px;
    width: 362px;
    background: white;
    border-radius: 7px;
    overflow: auto;
    max-height: 100vh;  
    // border-style: red;
    // border-color: transparent transparent black transparent;
}

  
.makeStyles-content-20 .makeStyles-container-33{
    min-height: 100vh;
}

.view-more-post{
    display: flex;
    justify-content: space-around;
    // margin-top: 5px;
    padding: 10px;
    background: #F9F9F9;
    width: 550px;
    margin-left: 23px;
}