// .outer-container-404-error {
//   min-width: calc(100vh - 100px);
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   margin-top: 10%;
//   align-items: center;
//   .inner-container-404 {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }
.outer-container-404-error {
  // min-width: calc(100vh - 100px);
  height: 100%;
  display: flex;
  margin-top: 3%;
  justify-content: center;
  .error-404-dextop-image {
    width: 75%;
  }
  .error-404-dextop-image-mobile {
    margin-top: 28%;
  }
}
