.hostpostquiz__container {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 80%;
}

.hostpostquiz__container {
    margin: 0;
}

.leaderboard__title--host {
    font-size: 3em;
    height: 8%;
    margin: 0;
    text-align: center; 
}

.quiz__results--container {
    height: 90%;
}

.session__highlights {
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.session__highlights > div {
    width: 25%;
    height: 80%;
    background-color: #10203A;
    box-sizing: border-box;
    padding: 0.5em;
}

.session__highlights--title {
    /* font-size: 2em; */
    font-weight: bold;
    text-align: center;
}

.session__highlights--subtitle {
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
}

.hostpostquiz__leaderboard {
    position: relative;
    top: 30%;
    width: 100%;
    height: 65%;
}

.hostpostquiz__leaderboard--bg {
    height: 100%;
    width: 100%;
    content: url('../assets/post_quiz_Player_info_BG.png');
}

.hostpostquiz__result--container {
    position: absolute;
    width: 98%;
    height: 70%;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: scroll; */
    overflow: auto;
}

.hostpostquiz__result--container::-webkit-scrollbar-thumb{
background: #555;
}

.hostpostquiz__result--header, .hostpostquiz__studentranking--container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hostpostquiz__studentranking--container {
    margin-top: 2em;
}

.hostpostquiz__result--header-rank, .hostpostquiz__student--rank {
    width: 10%;
    font-size: 2em;
}

.hostpostquiz__result--header-name, .hostpostquiz__student--name {
    width: 20%;
    font-size: 2em;
}

.hostpostquiz__result--header-score, .hostpostquiz__student--score {
    width: 10%;
    font-size: 2em;
}

/* .hostpostquiz__result--header-questions, .hostpostquiz__student--correct {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.hostpostquiz__result--header-questions > span, .hostpostquiz__student--correct > span {
    font-size: 1.6em;
    width: 3em;
} */

.hostpostquiz__student--correct {
    /* text-align: center; */
    /* line-height: 100%; */
    background-color: #4DCD8B;
    padding: 2px 4px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}

.hostpostquiz__student--incorrect {
    background-color: #FF4343; 
    padding: 2px 4px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}
.hostpostquiz__student--notattempted {
    background-color: grey;
    padding: 2px 4px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}

.hostpost__emoji {
    width: 10%;
    position: relative;
}

.postquiz__emoji > img {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.quiz__table__cell {
    color: white !important;
}

.view__question--modal {
    background-color: white;
    width: 40%;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .session__highlights--title {
        /* font-size: 1.5em; */
    }
    
    .session__highlights--subtitle {
        font-size: 1.2em;
    }

    .hostpostquiz__leaderboard--bg {
    content: url('../assets/post_quiz_Player_info_BG_tablet.png');
    }

    .quiz__table__cell {
        padding: 8px !important;
    }

    .leaderboard__title--host { 
        height: 6%;
        font-size: 2em;
     }

     .quiz__results--container {
        height: 92%;
    }   
    
    .view__question--modal {
        width: 70%;
        height: 60vh;
    }
}

@media only screen and (max-width: 500px) {

    .session__highlights > div {
        height: 60%;
    }

    .session__highlights--title {
        /* font-size: 1.2em; */
    }
    
    .session__highlights--subtitle {
        font-size: 0.8em;
    }

    .hostpostquiz__leaderboard--bg {
        content: url('../assets/post_quiz_Player_info_BG_mobile.png');
    }

    .quiz__table__cell {
        padding: 3px !important;
    }

    .leaderboard__title--host { 
        height: 3%;
        font-size: 1.5em;
     }

     .quiz__results--container {
        height: 95%;
    }    

    .view__question--modal {
        width: 85%;
        height: 50vh;
    }
}