.durationWrapper {
    display: flex;
    flex-direction: column;
}

.durationTag {
    color: #014b7e;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.durationContainer {
    margin-top: 20px;
    border-radius: 10px;
    min-height: 44vh;
    max-height:44vh;
    overflow-y: auto;
    box-shadow: 0 4px 10px 0px rgba(1,75,126,0.2);
}

.weeksContainer {
    padding: 20px;
}

.weeksContainer>.MuiFormControl-root {
    width: 100%;
}

.isRecursiveSwitch {
    padding: 0 20px 10px 20px;
}

.recursiveContainer {
    padding: 0 20px 20px 10px;
}

.addRemoveIconContainer {
    align-self: center;
}

.recursiveRow {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.recursiveWeekContainer {
    width: 45%;
}

.recursiveWeekContainer > .MuiFormControl-root {
    background: #f2f2f2;
    border-radius: 10px;
}

.recursiveContainer .PrivateNotchedOutline-root-43 {
    border: none;
}

.recursivePriceContainer {
    width: 45%;
}

.recursivePriceContainer > .MuiFormControl-root {
    background: #f2f2f2;
    border-radius: 10px;
}

.addRecIcon.MuiSvgIcon-root {
    fill: #ff6b6b;
}

.removeRecIcon.MuiSvgIcon-root {
    fill: #014b7e;
}