
.password_wrapper {
  text-align: center;
  margin: 4% 0%;
}
.password_label {
  margin: 2% 0%;
}
.profile_password_error {
  color: red;
  text-align: center;
  display: block;
  margin-bottom: 2%;
}

