.message_log_branch {
  width: 100%;
}
.table_body {
  max-height: 500px;
  overflow-y: scroll;
}
.selectedRow {
  background-color: antiquewhite;
}
.selectedRow:hover {
  cursor: pointer;
}
.notSelected:hover {
  cursor: pointer;
}
.message_log_table .MuiTableCell-head{
	background-color: white;
}
.message_log_table_wrapper{
	border: 1px solid #FF6B6B;
}
.deactive_clearAll {
  font-size: 0.9rem;
  padding: 3% 1%;
  width: 40%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: #a19e9e;
}
.spacing {
  height: 2vw;
}
.MuiButton-textPrimary {
  color: white !important;
}
.MuiButton-textPrimary:hover {
  background-color: #ff6b6b !important;
}
.message_log_wrapper{
	padding: 0% 2%;	
}
@media screen and (max-width: 700px) {
  .message_log_branch {
    width: 125%;
  }
  .message_log_wrapper{
	  text-align: center;
  }
}
