.message_log_branch {
  width: 100%;
}
.table_body {
  max-height: 500px;
  overflow-y: scroll;
}
.selectedRow {
  background-color: antiquewhite;
}
.selectedRow:hover {
  cursor: pointer;
}
.notSelected:hover {
  cursor: pointer;
}
.message_log_table .MuiTableCell-head {
  background-color: white;
}
.message_log_table_wrapper {
  border: 1px solid #ff6b6b;
}
.deactive_clearAll {
  font-size: 0.9rem;
  height: 45px;
  width: 75%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.12);
}
.message_log_date_piker svg{
	fill: #ff6b6b;
}
.message_log_branch .MuiIconButton-label{
	color: #FF6B6B !important;
}
.message_log_branch .MuiInputLabel-outlined{
	color: #014B7E !important;
	font-size: 1rem !important;
    font-weight: 600 !important;
}
.message_log_branch .MuiInputBase-input {
	color: #014b7e !important;
}
.message_log_branch .MuiChip-root {
	color: #014B7E !important;
}
.message_log_branch .MuiChip-deleteIcon{
	color: #FF6B6B !important;
}
.message_log_filter_button {
  font-size: 0.9rem;
  height: 45px;
  width: 75%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: #ff6b6b;
}
.MuiButton-textPrimary {
  color: white !important;
}
.MuiButton-textPrimary:hover {
  background-color: #ff6b6b !important;
}
.message_log_table_wrapper .message_log_table tr th:not(:last-child):after {
  content: '';
  height: 50%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff6b6b;
}
.message_log_table_wrapper > * {
  margin-top: 0px !important;
}
.message_log_send_by {
  min-width: 100px;
}
.message_log_table_wrapper {
  border-radius: 0px !important;
}
.message_log_breadcrumb_wrapper {
  margin: 20px;
  width: 95%;
}
.message_log_container {
  margin: 0px !important;
  width: 95% !important;
}
.message_log_white_wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0px;
  background-color: white;
}
@media screen and (max-width: 700px) {
  .message_log_wrapper {
    text-align: center;
  }
  .deactive_clearAll {
    width: 100%;
  }
  .message_log_filter_button {
    width: 100%;
  }
}
